
// .form
.az-form {
    h3 {
        font-size: 22px; font-family: $hfont;
        margin: 1rem 0 0;
    }
    .form-label {
        font-size: 14px;
        font-family: $hfont-normal;
    }

    .form-label-optional {
        @include flexbox(); @include align-items(center); @include justify-content(space-between);
        span {
            color: rgba(#000000, 0.5);
            font-family: $hfont-normal;
        }
    }
    .form-control  {
        padding: 0.7rem 1rem;
        border: 1px solid #D8DADA;
        @include border-radius(0);
        font-size: 16px;
        font-family: $hfont-45;
    }
    textarea.form-control {
        min-height: 150px;
    }
    .form-select {
        padding: 0.7rem 1rem;
        border: 1px solid #D8DADA;
        @include border-radius(0); 
        font-size: 16px;
        font-family: $hfont-45;
    }

    .btn {min-width: 120px;}
}


// Contact Us
.card-form {
    border: 0px;
    
    .card-head {
        padding: 0px 0px 30px;

        .card-title {
            margin-bottom: 20px;
            font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (1600 - 320)));

            em {
               img, svg {vertical-align: super;} 
            }

            .card-subtitle {
                font-family: $hfont-65; font-size: 14px; display: block; margin-top: 10px;
            }
        }
        .card-text {
            margin-bottom: 20px;

            p:last-child {margin-bottom: 0px;}
        }
        .card-action {
            a {
                margin-right: 10px; margin-top: 10px;
            }
        }

        & > div:last-child {margin-bottom: 0px !important;}
    }

    .card-body-form {

    }

}
