/* main-header */
.main-header { position: absolute; top: 0; left: 0; right: 0; z-index: 1999; @include transition(0.3s, ease-in-out);
    box-shadow: 0px 6px 20px rgba(#000, 0.08); background: #fff; 

    @media (max-width: 1279px) {  
        .container, .container-fluid {padding: 0px !important;}
    }

    &.is-sticky-header { position: fixed !important;
        // &.scroll-up { top: 0px;  background: rgba($darkBlue, 0.8); }
        // &.scroll-down { top: -105px;  background: rgba($darkBlue, 0.8); }
        &.scroll-up { top: 0px; 
            // background: rgba($white, 0.95);
            .navbar {padding: 10px 0;
                .nav::before { background: transparent; }
            }
        }
        &.scroll-down { /* top: -105px; */ 
            // background: rgba($white, 0.95);
            .navbar {padding: 10px 0;
                .nav::before { background: transparent; }
            }   
        }
    }

    .navbar {
        padding: 20px 0; @include flexbox(); @include align-items(center); @include justify-content(space-between);  @include transition(0.2s, ease-in-out);
        h1 {font-size: 0px !important; line-height: 1 !important; margin: 0px !important; padding: 0px;} 
        .nav-logo { 
            display: inline-block;  z-index: 100; position: relative; margin-right: 10px;
            img {
                height: 44px;
                @media (max-width: 767px) {  
                    height: 30px;
                }
            }
            &:hover, &:focus {
                @include opacity(0.8);
            }
        }
        .mainmenu { margin-left: auto;
            .nav { @include flexbox(); @include align-items(center); @include justify-content(flex-end); margin: 0; padding: 0; list-style-type: none;  margin-left: auto;
                & > li { padding-right:30px;
                    &:last-child {padding-right: 0px;}
                    
                    & > a:not(.btn-nav) { color: $black; text-decoration: none; 
                        padding: 12px 0px; display: inline-block; text-align: center;
                         font-family: $hfont-normal; white-space: nowrap; font-size: 18px;
                         @include transition(0.2s, ease-in-out);
                        &:hover, &.active { 
                            color: $primary;
                        }

                        &.nav-highlight {
                            color: $interaction !important;
                            &:hover, &.active { 
                                color: $primary !important;
                            } 
                        }
                    }

                    
    
                    &.nav-btn { 
                        padding-left: 15px;
                        .btn-nav {
                            padding: 12px 20px; font-family: $hfont-normal !important; white-space: nowrap; letter-spacing: normal; 
                            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
                            min-height: 48px;
                            @include inline-flex(); @include align-items(center); @include justify-content(center);
                        }
                    }
                    
                }

                li.has-sub-menu {
                    position: relative;

                    span {display: none;}
                    
                    @media (min-width: 1280px) { 
                        &:hover {
                            & > a {color: $darkTheme;}
                            & > ul {
                                display: block;  opacity: 1; visibility: visible; z-index: 5; @include transform(translateY(0px));
                            }
                        }
                    }

                    ul {
                        position: absolute; background: #fff; 
                        margin: 5px 0px 0px; padding: 15px; list-style: none; width: 100%;
                        @media (min-width: 1600px) {
                        width: calc(100% - 10px);
                        } 

                        transform-origin: top center;
                        visibility: hidden; opacity: 0; @include transition(0.3s, ease-in-out);
                        @include transform(translateY(-10px));
                        box-shadow: 0 3px 6px rgba(#000, 0.15);

                        &::before {
                            content: ""; position: absolute; background: transparent; left: 0; height: 15px; top: -10px; right: 0; width: 100%;
                        }
                        

                        li {padding-right:0px !important; margin-top: 5px;
                            &:first-child {padding-top: 0px !important;}

                            a { color: $black; text-decoration: none; padding: 10px 15px; display: block; 
                                 font-family: $hfont; text-align: left; line-height: 1.2; 
                                 @include transition(0.2s, ease-in-out);
                                &:hover, &.active { 
                                    color: $darkTheme;
                                }
                            }
                        }
                    }
                }
                @media (min-width:1400px) and (max-width:1600px){
                    & > li { padding-right:10px;
                        a:not(.btn-nav) { padding: 12px 10px; font-size: 16px;  } 

                        &.nav-btn { 
                            padding-left: 10px;
                            .btn-nav {
                                padding: 12px 15px; font-size: 14px; min-height: 45px;
                            }
                        }
                    }

                    li.has-sub-menu {
                        ul {
                            min-width: 175px; padding: 12px;
                        }
                    }
                }
                @media (min-width:1280px) and (max-width:1400px){
                    & > li { padding-right:8px;
                        a:not(.btn-nav) { padding: 12px 10px; font-size: 14px;  }  

                        &.nav-btn { 
                            padding-left: 8px;
                            .btn-nav {
                                padding: 12px 10px; font-size: 14px; min-height: 45px;
                            }
                        }
                    }
                    li.has-sub-menu {
                        ul {
                            min-width: 175px; padding: 10px;
                        }
                    }
                    
                }
            }

            @media (max-width: 1400px) {
                // overflow: auto;
                max-width: 100%;
                text-align: left;
            }
        }


    // SHOW MOBILE
    @media (max-width: 1279px) {  
        background-color: #fff;
        padding: 15px 0 !important;
        .nav-logo {margin-left: 15px;}

        .mainmenu {
            margin-bottom: -15px;
            .nav {
                flex-direction: column;
                margin-top: 15px; 
                border-top: 1px solid #D8CFDD; 
                // display: block; margin: 100px 15px 20px; padding:0px;
                &::before { content: none; }
                & > li { padding: 0px 15px; display: block;
                    border-bottom: 1px solid #D8CFDD; width: 100%;
                    a { font-size: 20px; }

                    &.nav-btn { 
                        padding-top: 30px;
                        padding-left: 0px;
                        .btn-nav {
                            padding: 12px 20px; font-size: 20px; min-height: 54px;
                        }
                    }
                }
                

                @media (max-width: 375px) { 
                    & > li { /*padding: 10px 0; border-right: none;*/
                        a { font-size: 16px; }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {  
        padding: 3px 0px !important;
        .mainmenu {margin-bottom: -3px;
            .nav {margin-top: 5px; }
        }
    }

    } 
    
}

@media (min-width: 1279px){
    .navbar-m-expand-xxl {flex-wrap:nowrap; justify-content:flex-start}
    .navbar-m-expand-xxl .nav {flex-direction:row;}
    // .navbar-m-expand-xxl .nav .dropdown-menu {position:absolute}
    // .navbar-m-expand-xxl .nav .nav-link {padding-right:.5rem; padding-left:.5rem}
    .navbar-m-expand-xxl .nav-scroll {overflow:visible}
    .navbar-m-expand-xxl .navbar-collapse {display:flex !important;flex-basis:auto}
    .navbar-m-expand-xxl .navbar-toggler {display:none}
}


/* ANIMATED X */
.navbar-toggler.x {
    border: none !important;  outline: none !important;  width: 44px; height: 44px; box-shadow:none !important; margin-right: 10px; margin-left: auto;
    &:focus {
        outline: none;
    }
    &[aria-expanded="true"] {
        .icon-bar {
            background-color: #830051;
            &:nth-of-type(1) {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transform-origin: 15% 30%;
                -ms-transform-origin: 15% 30%;
                transform-origin: 15% 30%;
            }
            &:nth-of-type(2) {
                opacity: 0;
                filter: alpha(opacity=0);
            }
            &:nth-of-type(3) {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
            }
        }

        &::after {
            content: "";
            background: rgba(0,0,0,0.6);
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    .icon-bar {
        width: 22px;
        display: block;
        height: 3px;
        background-color: #3C4242;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        @include border-radius(4px);
        &+ .icon-bar {
            margin-top: 4px;
        }
        &:nth-of-type(1) {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
        &:nth-of-type(2) {
            opacity: 1;
            filter: alpha(opacity=100);
        }
        &:nth-of-type(3) {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
    }
}
