.main-content-wrapper {
    padding-top: 90px;

    @media (max-width: 1279px){
        padding-top: 75px;
    }
    @media (max-width: 767px){
        padding-top: 50px;
        .container {
            & > .row:not(.row-grid) {
                margin-left: -15px; margin-right: -15px; 
                & > .col-12 {padding-left: 0px; padding-right: 0px;}
            }

            .card-full-mobile {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}

.no-hero-content-wrapper {
    margin-bottom: 50px;  
    @media (max-width: 767px) { 
        margin-bottom: 30px;
    }  
}

.is-light {
    * {color: #fff !important;}
}
.is-dark {
    * {color: $bodyfontcolor !important;}
}

// Commen Section
.section-block {
    margin-bottom: 50px;
    @media (max-width: 1600px) { 
        margin-bottom: 30px;
    }
    @media (max-width: 767px) { 
        margin-bottom: 0px;

        &.section-block-xs {margin-bottom: 30px;}
    }

    &.sticky-top {
        top: 65px; 
        background: rgba(255, 255, 255, 0.8); z-index: 1021;
        @media (max-width: 1279px){
            top: 72px;
        }
        @media (max-width: 767px){
            top: 50px;
        }
    }
}

.section-title-block {
    margin-bottom: 30px;
    .title {
        margin-bottom:15px;
        font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (1600 - 320)));
        font-family:$hfont;   
    }
    p:last-child {margin-bottom: 0px;}
}

.section-info-block {
    margin-bottom: 50px; 
    background: #F8F8F8;
    padding: 50px 0px;
    @media (min-width: 768px) { 
        padding: 50px 100px;
    }
    @media (max-width: 1600px) { 
        margin-bottom: 30px;
    }

    * :last-child {margin-bottom: 0px !important;}
}

// mobile-card-slider
.mobile-card-slider {
    margin-bottom: 60px;
    @media (max-width: 992px) {
        margin-right: -15px;
    }
    &.one-silde-slider {  
        .splide__arrow { display: none; }
        .splide__pagination { display: none; }
    }
    .splide__arrow {
        transform:none !important;
        top: 100%;
        background: transparent;
        z-index: 20;
        margin-top: 5px;
        @include opacity(1);

        &:disabled {
            @include opacity(0.5);
        }
        svg {
            fill: #D0006F;
        }

        &.splide__arrow--prev { left: 0;}
        &.splide__arrow--next {
            right: 0;
            @media (max-width: 992px) {
                right: 15px;
            }
        }

        @media (min-width: 992px) {
            display: none !important;
        }
    }
        
    .splide__pagination {
        background: #fff;
        width: 100%;
        padding: 10px 15px;
        top: 100%;
        bottom: auto;

        .splide__pagination__page {
            background: #9CA1AA;
            &.is-active {
                background: $interaction;
                @include opacity(1);
                @include transform (scale(1.4));
            }
            
            &:hover {
                cursor: pointer;
                @include opacity(0.9);
            }

        }
    }
}

/* main-content-wrapper */
.is-loader {position: relative;
    &::before {
        background: url(../images/loader.svg) center center no-repeat; background-size: cover;
        content: "";
        width: 57px;
        height: 57px;
        display: inline-block; position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

.section-sidebar { background: #f7fadf; padding: 25px 20px;
    .card-filter-options { background: transparent; 
        .card-title { color: $black; }
        .card-option { margin-top: 25px;
            h3 { margin-bottom: 10px; }
            .custom-checkbox { float: none; overflow: unset; width: 100%; margin-bottom: 4px;
                input[type="checkbox"] { appearance: none; width: 0px; height: 0px; position: absolute; left: 0px; display: none;
                    &:focus { outline: none; }
                }
                & > label { padding-left: 28px; cursor: pointer; position: relative; color: $black; font-size: 14px;
                    &::before, 
                    &::after { content: ''; @include border-radius(2px); width: 16px; height: 16px; position: absolute; top: 1px; left: 0; @include flexbox; background: #f8f8f8; }
                    &::before { border: 1px solid #9ca1aa; }
                    &::after { background: url(../images/icons/icon-check.svg) no-repeat center center; background-size: 8px; transform: scale(0); }            
                }
                input[type="checkbox"]:checked + label::after { transform: scale(1); }
                input[type="checkbox"]:checked + label::before { border-color: #3c4242; }
            }
            .filter-check { 
                li { float: none; overflow: unset; width: 100%; margin-bottom: 4px;
                    span { padding-left: 28px; cursor: pointer; position: relative; color: $black; font-size: 14px;
                        &::before, 
                        &::after { content: ''; @include border-radius(2px); width: 16px; height: 16px; position: absolute; top: -1px; left: 0; @include flexbox; background: #f8f8f8; }
                        &::before { border: 1px solid #9ca1aa; }
                        &::after { background: url(../images/icons/icon-check.svg) no-repeat center center; background-size: 8px; transform: scale(0); }            
                    }
                    &.checked {
                        & > span {
                            &::after { transform: scale(1); }
                            &::before { border-color: #3c4242; }
                        }
                    }
                }
            }
            ul { list-style-type: none; padding: 0; margin: 0; 
                li {                    
                    ul { padding-left: 28px; }
                }
                &.with-collapse {
                    & > li { position: relative; padding-left: 25px;
                        ul { display: none; }
                        &::before { content: ''; background: url(../images/icons/collapse-arrow.svg) no-repeat center center; background-size: contain; width: 12px; height: 12px; display: inline-block; position: absolute; left: 0; top: 5px; }
                        &.checked {
                            ul { display: block; }
                            &::before { transform: rotate(90deg); }
                        }
                    }
                }
            }
        }
        .filter-action { margin-top: 25px;
            .btn { padding: 15px 36px; margin-right: 35px; }
        }
    }
}