html body.portal { background: $white; color: $darkblack; font-size: $portalbodyfontsize; position: relative; font-family: $portalbodyfont; min-height: 100vh; overflow-x: hidden; 
    @media (max-width: 350px) { font-size: 14px; }
}    
html .portal { 
    *:focus { outline: none !important; }
    .mb-150 { @include mb(150px); }
    .text-lightgray { color: #979797; }
    .text-danger { color: #D34848; }
    .text-success { color: #6FCF97; }
    .text-warning { color: #FF9F00; }
    .search-input-block { max-width: 320px; }
    
    .content-wrapper { position: relative; min-height: 100vh;
        &.without-sidebar {
            .main-content-wrapper { padding-left: 0; 
                .content { padding: 30px 8%; margin: 0 15px; }
            }
            @media (max-width: 992px) { 
                .main-content-wrapper {  
                    .content { padding: 30px 5%; }
                }
            }
            @media (max-width: 767px) { 
                .main-content-wrapper { padding-left: 0; 
                    .content { padding: 30px 15px; margin: 0 15px; }
                }
            }
        }
    }

    .main-dashboard-header { position: fixed; width: 100%; top: 0; background: #f2f5f9; z-index: 1032;
        .navbar { height: 80px;
            .bar-icon { display: none; cursor: pointer; margin-left: auto; }
            .logo { display: none; }
            .navbar-collapse {
                .navbar-nav { @include align-items(center);
                    .nav-item { padding: 0 15px;
                        &:first-child { padding-left: 0; }                        
                        .nav-link { color: #0e132a; font-size: 14px; @include flexbox(); @include align-items(center); line-height: 1; @include transition(0.3s, ease-in-out); padding: 0;
                            i, em { font-size: 22px; line-height: 1; margin-right: 5px; margin-top: -2px }
                            &.btn-orange { @include flexbox(); @include align-items(center); @include justify-content(center); color: $white; padding: 0 25px; @include border-radius(12px); height: 40px;
                                &:hover { color: $white; }
                            }
                            &:hover { color: $blue; }
                        }
                        &.profile-dropdown {
                            .nav-link { @include flexbox(); @include align-items(center); z-index: 1001; position: relative; 
                                &::after { display: inline-block; margin-left: 10px; vertical-align: middle; content: ""; border-top: 6px solid #4e5c73; border-right: 6px solid transparent; border-bottom: 0; border-left: 6px solid transparent; border-radius: 2px; }
                                .img { @include border-radius(50%); margin-right: 8px;
                                    img { @include border-radius(50%); max-width: 42px; }
                                }
                                .info {
                                    .name { display: block; color: #0e132a; font-weight: 500; margin-bottom: 5px; }
                                    .email { display: block; font-size: 12px; color: #a0a8b5; }
                                }
                            }
                            .dropdown-menu { width: 100%; top: -15px; padding-top: 65px; border-radius: 15px; border-color: #f0f2f4; @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); display: block!important; z-index: 4; visibility: hidden; @include opacity(0); transition : all 0.2s ease-in-out 0s,visibility 0s linear 0.3s,z-index 0s linear 0.01s; transform: translateY(0em);
                                .dropdown-item { color: #0e132a; font-size: 14px; text-decoration: none; padding: 5px 15px; @include transition(0.3s, ease-in-out);
                                    &.text-orange { color: $orange; }
                                    &:hover, &:focus, &.active { background: rgba(83,81,251,0.05); }
                                    &.org-box { border-top: 1px solid #f2f5f9; border-bottom: 1px solid #f2f5f9; padding: 5px 15px; margin: 5px 0;
                                        span { display: block; font-size: 12px; color: #a0a8b5; }
                                        strong { display: block; font-size: 15px; color: #0e132a; font-weight: 500; }
                                    }                                        
                                }
                                .organization-dropdown {
                                    &::before { content: ''; position: absolute; width: 100%; height: 100%; left: -5px; bottom: 0; top: 0; background: transparent; }
                                    .dropdown-menu { top: 0px; right: calc(100% + 4px) !important; left: auto; padding-top: 5px; transform: translateY(2em) !important; visibility: hidden; @include opacity(0); width: auto; min-width: 180px;
                                        .heading { font-size: 12px; color: #a0a8b5; padding: 5px 15px; }  
                                        .dropdown-item { padding: 5px 15px; }
                                    }  
                                    &:hover {
                                        .dropdown-menu { visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; transform: translateY(0) !important; }
                                    }
                                } 
                            }                            
                            
                            &:hover {
                                .dropdown-menu { visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; transform: translateY(0) !important; }
                            }
                        }
                    }
                }
            }
        }
        &.with-logo {  
            .navbar { padding: 0 8%;
                .logo { display: block; }
            }
        }
        @media (max-width: 992px) { 
            &.with-logo {  
                .navbar { padding: 0 5%; }
            }
        }
        @media (max-width: 767px) {
            &.with-logo {  
                .navbar { padding: 0 15px; 
                    .logo img { max-width: 170px; }
                }
            }
            .navbar { height: 70px;
                .logo { display: block; margin-left: 20px;
                    img { max-width: 55px; }
                }
                .bar-icon { display: block; z-index: 1032; 
                    div { width: 25px; height: 4px; margin: 4px 0px; @include transition(0.3s, ease-in-out); background: #0e132a; }
                    &:hover { div { background: $gray ; } }
                    &.toggle { right: 15px;
                        .line1 { transform: rotate(-45deg) translate(-5px, 6px); }
                        .line2 { opacity: 0; }
                        .line3 { transform: rotate(45deg) translate(-5px, -6px); }
                    }
                }
                .navbar-collapse { @include flexbox(); flex-basis: auto; flex-direction: row;
                    .navbar-nav { @include align-items(center); flex-direction: row;
                        .nav-item { padding: 0 10px;
                            &:last-child { padding-right: 0; }
                            .nav-link { font-size: 14px;
                                i, em { font-size: 22px; margin-right: 5px }
                                &.btn-orange { padding: 0 15px; }
                            }
                            &.profile-dropdown {
                                .nav-link {  
                                    &::after { content: none; }
                                    .img { margin-right: 0px;
                                        img { max-width: 40px; }
                                    }
                                }
                                .dropdown-menu { position: absolute; min-width: 200px; top: 100%; padding-top: 0; right: 0; left: auto; } 
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 575px) { 
            &.with-logo {  
                .navbar {
                    .logo { 
                        img { max-width: 150px; }    
                    }
                }
            }
            .navbar {                 
                .navbar-collapse { 
                    .navbar-nav { 
                        .nav-item { 
                            .nav-link {                                 
                                span { display: none; }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 420px) {             
            .navbar { 
                .logo { margin-left: 10px;
                    img { max-width: 50px; }
                }
                .navbar-collapse { 
                    .navbar-nav { 
                        .nav-item { padding: 0 5px;
                            .nav-link { font-size: 14px;
                                i, em { font-size: 22px; margin-right: 0px }
                                span { display: none; }
                                &.btn-orange { padding: 0 10x; height: 36px; }
                            }
                            &.profile-dropdown {
                                .nav-link {  
                                    .img { 
                                        img { max-width: 40px; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-icon-sidebar { position: absolute; top: 0; left: 0; width: 70px; height: 100vh; background: #f2f5f9; @include transition (0.3s, ease-in-out); overflow: hidden; z-index: 1; @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); @include border-radius(0 25px 25px 0); z-index: 1033;          
        .sidebar-wrapper { @include border-radius(0 25px 25px 0); position: relative; height: 100%;
            .logo { @include flexbox(); @include align-items(center); padding: 20px 15px; background: #F03A01; @include border-radius(0 25px 0 0); @include transition-variable(background, 0.3s, ease-in-out); @include transition-variable(padding, 0.3s, ease-in-out); text-decoration: none; height: 80px;
                .logo-img { width: 75px; text-align: center; 
                    svg { max-width: 40px; @include transition-variable(max-width, 0.3s, ease-in-out); 
                        path { @include transition (0.3s, ease-in-out); }
                        stop { @include transition (0.3s, ease-in-out); }
                    }
                }
                .logo-text { width: 75px * 3; padding: 0 15px; @include transition-variable(color, 0.3s, ease-in-out); visibility: hidden;
                    svg { max-width: 110px; margin-top: -4px; }
                }
            }  
            .sidebar-menu-block { max-height: calc(100vh - 160px); overflow: hidden; overflow-y: auto; padding: 15px 0; 
                &::-webkit-scrollbar { width:6px;background-color:#F5F5F5; }
                &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.3); }
                &::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);background-color:transparent; }
            }
            .sidebar-menu { list-style-type: none; padding: 0; margin: 0; width: 75px * 3.5; 
                // SIDEBAR MENU ITEM
                .menu-item { padding: 5px 25px 5px 15px;                              
                    .menu-link { @include flexbox(); @include align-items(center); text-decoration: none; color: #6f7b8e; @include border-radius(8px); position: relative;
                        // ICON
                        .icon { width: 100%; max-width: 40px; min-height: 40px; max-height: 40px; text-align: center; @include flexbox(); @include align-items(center); @include justify-content(center); @include border-radius(8px); font-size: 22px; z-index: 2;
                            i, em { line-height: 1; }
                        }          
                        // DESCRIPTION
                        .text { width: 75px * 3; text-align: left; padding: 0 5px; @include border-radius(8px); @include opacity(0); @include transition-variable(opacity, 0.3s, ease-in-out); z-index: 2; }
                        &::before { content: '';  display: block; background: #4e5c73; width: 0px; height: 40px; position: absolute; @include border-radius(8px); @include transition-variable(width, 0.3s, ease-in-out); z-index: 1; }
                        &.active, &:hover { color: $white;
                            &::before { width: 40px; }
                        }
                    }
                }
            }
            .bottom-menu { position: absolute; bottom: 0; background: #f2f5f9; padding: 15px 0; 
                .menu-item {                           
                    .menu-link {                        
                        .text { text-align: center; @include flexbox(); @include align-items(center); @include justify-content(center); height: 40px;
                            a { color: #6f7b8e; @include transition(0.3s, ease-in-out); text-decoration: none; }
                            span { padding: 0 8px; }
                        }
                        &::before { content: none; }
                        &.active, &:hover { 
                            .text { 
                                a {
                                    &:hover { color: $blue; }    
                                }
                                span { color: #6f7b8e; } 
                            }
                        }
                    }
                }
            }
        }
        &:hover, &.open { width: 75px * 3.5;
            .sidebar-wrapper {
                .logo { background: $white; padding: 20px 30px;
                    .logo-img { width: 70px; text-align: center; 
                        svg { max-width: 55px;
                            path { fill: #F03A01; }
                            .dot { fill: $white; }
                        }
                    }
                    .logo-text { color: $black; visibility: visible; }                
                }   
                .sidebar-menu {
                    .menu-item {                     
                        .menu-link {
                            .text { @include opacity(1); }
                            &.active, &:hover { 
                                &::before { width: 100%; }
                            }
                        }
                    }
                }
            }
            .bottom-menu { 
                .sidebar-menu { 
                    // SIDEBAR MENU ITEM
                    .menu-item {                           
                        .menu-link {
                            .icon { display: none; }          
                            // DESCRIPTION
                            .text { padding: 0; text-align: center; }
                        }
                    }
                }
            }
        } 
        @media (max-width: 767px) { width: 0;
            .sidebar-wrapper { 
                .logo { padding: 15px 15px; height: 70px; } 
                .sidebar-menu-block { max-height: calc(100vh - 210px); }
            }
        }
    }
    
    .main-content-wrapper { min-height: 100vh; padding-top: 80px; padding-left: 70px; background: $white;        
        .content { padding: 30px 70px; 
            h1, .h1 { font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1900 - 320))); }
            .search-input-block {  
                .search-input {
                    .form-group { position: relative; margin-bottom: 0; min-width: 300px;
                        &.pre-icon-input { position: relative;
                            .pre-icon { position: absolute; left: 12px; top: 12px; line-height: 1; font-size: 20px; font-weight: 700; color: #e9ebee; }
                            .custom-input { padding: 5px 15px 5px 45px }
                        }
                        .custom-input { border: 1px solid #d8dbe6; @include border-radius(8px); height: 45px; 
                            &::placeholder { color: #e2e5e9; }
                            &::-moz-placeholder { color: #e2e5e9; }
                        }
                    }
                }
            }
            .title-box { @include flexbox(); @include align-items(center); @include justify-content(space-between); margin-bottom: 25px;
                h1, .h1 { margin-bottom: 0; }
            }
            .add-project { text-align: center; height: 100%;
                a { @include flexbox(); @include align-items(center); @include justify-content(center); @include flex-direction(column); height: 100%; width: 100%; background: #f2f5f9; @include border-radius(10px); padding: 30px 15px; text-decoration: none; }
                .icon { @include flexbox(); @include align-items(center); @include justify-content(center); color: #4e5c73; font-size: 60px; line-height: 1; @include transition(0.3s, ease-in-out); width: 70px; height: 70px; margin: 0 auto; }
                .text { color: #4e5c73; font-size: 18px; }
                &:hover {
                    .icon { font-size: 50px; }
                }
            }
            .project-info-box { @include border-radius(10px); border: 1px solid #f5f6f8;
                .more-link { background: #f7f8f9; display: block; padding: 25px 20px; text-decoration: none; @include border-radius(10px); border: 1px solid #f5f6f8;
                    .title { font-size: 18px; font-weight: 600; color: #0e132a; }
                    .icons {  margin-top: 5px;
                        .icon { display: inline-block; margin-right: 5px;
                            &.icon-android { background: url(../../images/icons/icon-android.jpg) no-repeat center center; width: 15px; height: 15px; }
                            &.icon-ios { background: url(../../images/icons/icon-ios.jpg) no-repeat center center; width: 15px; height: 15px; }
                            &.icon-js { background: url(../../images/icons/icon-js.jpg) no-repeat center center; width: 15px; height: 15px; }
                        }
                    }
                }
                .starter { font-size: 14px; color: #000000; display: block; padding: 15px 25px; }
                .btn { padding: 0 25px; line-height: 45px; margin: 0 25px 25px; font-weight: 400; @include border-radius(10px); }
            }
        }
    }
         
    @media (min-width: 1500px) {  
        
    }
    @media (max-width: 1200px) {  
        
    }
    @media (max-width: 992px) {        
        
    }
    @media (max-width: 767px) {
       
    }
    @media (max-width: 575px) { 
       
    }
    @media (max-width: 420px) { 
        
    }
    @media (max-width: 350px) {
        
    }
}