.main-content-wrapper {
    padding-top: 95px;
}

.is-light {
    * {color: #fff !important;}
}
.is-dark {
    * {color: $bodyfontcolor !important;}
}

// page-hero
.page-hero {
    background-color: $darkTheme; 
    margin-bottom: 30px; 
    color: #fff; 
    position: relative;
    z-index: 2;
    overflow: hidden;

    @media (min-width: 1600px) { 
        margin-bottom: 50px; 
    }

    .hero-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 105%;
        background-size: cover;
        background-position: center center;
        transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        z-index: -1;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        @include opacity(0.9);
        // background-image: linear-gradient(to right,#233f61 0%, #233f61 100%);

        @media (min-width:768px){
            width: 50%;
        }
    }

    .container {
        min-height: 540px; 
        @include flexbox(); @include align-items(center);
    }

    .page-hero-inner {
        padding: 80px 15px 80px 0px; z-index: 2; position: relative;
        // background-color: rgba(#840c53, 0.9);
        @media (min-width:768px){
            max-width: 50%;
        }
    }

    

}

/* hero-with-img */
.hero-with-img {
    background-color: #c3d600; 
    margin-bottom: 30px; margin-top: 0px;

    @media (min-width: 1600px) { 
        margin-bottom: 50px; margin-top: 50px;
    }
    .hero-inner {
        
        .hero-inner-info {
            padding-top: 50px; padding-bottom: 50px
        }

        .hero-inner-img {
            margin-top: -25px;

            img {
                display: block; margin: 0px auto;
            }
        }
    }
}

.aspect {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: red;

    img {
        position: absolute;  object-fit: cover;
    }
  }
.aspect:after {
content: "";
display: block;
padding-bottom: 260px;
}

.bg-blue {background-color: #003865 !important;}
.bg-light-yellow {background-color: #fbeccb !important;}

.card {
    height: 100%; border: 0px !important; @include border-radius(0);
}

// row-card
.row-card {
    // margin-bottom: 0px;
    & > [class^="col"] {margin-bottom: 30px;}
    @media (min-width: 1600px) { 
        // margin-bottom: 20px;
        margin-right:-25px;margin-left:-25px;
        & > [class^="col"] {padding-right:25px;padding-left:25px; margin-bottom: 50px;}
    }

}
.card-block {
    height: 100%;
    background: #e1f6f9;
    border: 0px;
    
    .card-head {
        // height: 245px;
        overflow: hidden;
        // -webkit-transition: height 0.5s;
        // transition: height 0.5s;

        transition: 0.5s;
        .card-head-img {
            
            img {
                width: 100%;
                display: block;
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
                transition: opacity 0.5s, -webkit-transform 0.5s;
                transition: opacity 0.5s, transform 0.5s;
                transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
                // width: 100%;
                // height: 35vh;
                // object-fit: cover;
            }
        }
    }

    .card-body {
        padding: 30px; transition: 0.5s;

        @media (min-width: 1400px) { 
            padding: 50px 60px;
        }

        .card-title {
            margin-bottom: 40px;
        }
        .card-text {
            margin-bottom: 40px;
        }
        .card-action {}
    }

    
}

.is-card-hover {
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        .card-head {
            // height: 130px;
            transform: translateY(-15px);
            img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .card-body {
            transform: translateY(-15px);
        }
    }
}

.section-block {
    margin-bottom: 30px; 
    @media (min-width: 1600px) { 
        margin-bottom: 50px;
    }
}

.card-info {
    height: 100%;
    background: #e1f6f9;
    border: 0px;

    padding: 50px 60px;

    @media (max-width: 1400px) { 
        padding: 30px;
    }

    .card-head {
        .card-title {
            margin-bottom: 40px;
        }
    }

    .card-body {
        padding: 0px;

        .latest-lists {
            margin: 0px; padding: 0px; list-style: none;
            li { margin-bottom: 30px; padding-bottom: 15px; border-bottom: 1px solid #000;
                &:last-child {margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px !important;}

                p:last-child {margin: 0px;}
            }
        }
    }
}



/* main-content-wrapper */

.is-loader {position: relative;
    &::before {
        background: url(../images/loader.svg) center center no-repeat; background-size: cover;
        content: "";
        width: 57px;
        height: 57px;
        display: inline-block; position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}