body { 
    background: $bodybg; color: $bodyfontcolor; font-size: $bodyfontsize; font-family: $bodyfont; position: relative; min-height: 100vh; overflow-x: hidden; font-style:normal; line-height:1.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0;
}
.container {
    width: 100%; padding-left: 15px; padding-right: 15px; margin: 0 auto;
    @media (min-width: 576px) {        
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1480px;
    }
    
}

*:focus {
    outline: none;
}
a { 
    color: $darkblack; text-decoration: none; @include inline-flex(); @include align-items(center); @include transition(0.3s, ease-in-out);
    em { 
        margin-right: 8px; 
    }
    &:focus { 
        outline: none; 
    }
    &:hover { 
        color: $skyblue 
    }
}
img {  
    max-width: 100%; height: auto;
}
.overflow-hidden {  
    overflow: hidden;
}
.d-none {
    display: none !important;
}
.ml-auto {
    margin-left: auto !important;
}
.pr-0 {
    padding-right: 0 !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
    line-height: 1; margin: 0; 
}
h1, .h1 {  
    font-size: 45px; font-weight: normal;
}
h2, .h2 {  
    font-size: 30px; font-weight: normal;
}

.icon { background-size: contain !important; display: inline-block;
    &.icon-paper-plane { background: url($icon-paper-plane) no-repeat center center; width: 12px; height: 12px; }
    &.icon-phone { background: url($icon-phone) no-repeat center center; width: 12px; height: 12px; }
    &.icon-down-arrow { background: url($icon-down-arrow) no-repeat center center; width: 16px; height: 16px; }
    &.icon-right-arrow { background: url($iconpath + 'arrow-right.svg') no-repeat center center; width: 100px; height: 100px; }
    &.icon-adobe { background: url($iconpath + 'menu_adobe.png') no-repeat center center; width: 40px; height: 40px; }
}

.main-content {
    min-height: 100vh;
    .title-box { text-align: center; 
        .small-title { text-transform: uppercase; font-size: 16px; color: $black; }
    }
}
@media (max-width: 1200px) { 
    h1, .h1 {  
        font-size: 36px; 
    }
    h2, .h2 {  
        font-size: 26px; 
    }
}
@media (max-width: 992px) { 
    h1, .h1 {  
        font-size: 32px; 
    }
    h2, .h2 {  
        font-size: 24px; 
    }
}
@media (max-width: 767px) { 
    h1, .h1 {  
        font-size: 30px; 
    }
    h2, .h2 {  
        font-size: 20px; 
    }
}