@import url(../css/all-style.css);
@import url(../css/bootstrap.min.css);

/* Fonts */
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeuib.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cubano-Normal';
    src: url('fonts/Cubano-Normal.eot?#iefix') format('embedded-opentype'),  url('fonts/Cubano-Normal.otf')  format('opentype'),
           url('fonts/Cubano-Normal.woff') format('woff'), url('fonts/Cubano-Normal.ttf')  format('truetype'), url('fonts/Cubano-Normal.svg#Cubano-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Extra style by Jayesh Patel*/
.hvr-hang-loop {
    -webkit-animation-name:hvr-hang-sink,hvr-hang;animation-name:hvr-hang-sink,hvr-hang;-webkit-animation-duration:.3s,1.5s;animation-duration:.3s,1.5s;-webkit-animation-delay:0s,.3s;animation-delay:0s,.3s;-webkit-animation-timing-function:ease-out,ease-in-out;animation-timing-function:ease-out,ease-in-out;-webkit-animation-iteration-count:1,infinite;animation-iteration-count:1,infinite;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-direction:normal,alternate;animation-direction:normal,alternate;
}

body { 
    margin: 0; font-family: 'Cubano-Normal'; color: #1B1B1B; font-size: 22px; overflow: hidden; overflow-y: auto; position: relative; 
}

/* dots */
.slider .slick-dots li { width: 30px; height: 30px; }
.slider .slick-dots li button { width: 30px; height: 30px; background-image: url(../images/dot.png); background-image: -webkit-image-set(url(../images/dot.png) 1x, url(../images/dot@2x.png) 2x, url(../images/dot@3x.png) 3x); background-image: image-set(url(../images/dot.png) 1x, url(../images/dot@2x.png) 2x, url(../images/dot@3x.png) 3x); background-repeat: no-repeat; background-position: center center; background-size: contain; padding: 0; transition: all 0.3s ease-in-out; }
.slider .slick-dots li button:hover { -webkit-transform: scale(1.2); transform: scale(1.2); }
.slider .slick-dots li.slick-active button { background-image: url(../images/dot-active.png); background-image: -webkit-image-set(url(../images/dot-active.png) 1x, url(../images/dot-active@2x.png) 2x, url(../images/dot-active@3x.png) 3x); background-image: image-set(url(../images/dot-active.png) 1x, url(../images/dot-active@2x.png) 2x, url(../images/dot-active@3x.png) 3x); background-repeat: no-repeat; background-position: center center; background-size: contain; padding: 0; }
.slider .slick-dots li button:before { content: none; }
/* arrow */
.slider .slick-prev.slick-arrow { top: 30%; left: -100px; width: 60px; height: 60px; background-image: url(../images/slide-prev.png); background-image: -webkit-image-set(url(../images/slide-prev.png) 1x, url(../images/slide-prev@2x.png) 2x, url(../images/slide-prev@3x.png) 3x); background-image: image-set(url(../images/slide-prev.png) 1x, url(../images/slide-prev@2x.png) 2x, url(../images/slide-prev@3x.png) 3x); background-repeat: no-repeat; background-position: center center; background-size: contain; }
.slider .slick-arrow { transition: all 0.3s ease-in-out; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); z-index: 10; }
.slider .slick-arrow.slick-next:hover { transform: translateX(10px); }
.slider .slick-arrow.slick-prev:hover { transform: translateX(-10px); }
.slider .slick-prev::before, .slider .slick-next::before { content: none; }
.slider .slick-next.slick-arrow { top: 30%; right: -100px; width: 60px; height: 60px; background-image: url(../images/slide-next.png); background-image: -webkit-image-set(url(../images/slide-next.png) 1x, url(../images/slide-next@2x.png) 2x, url(../images/slide-next@3x.png) 3x); background-image: image-set(url(../images/slide-next.png) 1x, url(../images/slide-next@2x.png) 2x, url(../images/slide-next@3x.png) 3x); background-repeat: no-repeat; background-position: center center; background-size: contain; }

/******* Main Header **************/
.main-header {
    position: relative;
}
.main-header .header-top-img { 
    background-image: url(../images/sun.png); background-image: -webkit-image-set(url(../images/sun.png) 1x, url(../images/sun@2x.png) 2x, url(../images/sun@3x.png) 3x); background-image: image-set(url(../images/sun.png) 1x, url(../images/sun@2x.png) 2x, url(../images/sun@3x.png) 3x); background-repeat: no-repeat; background-position: center top; height: 530px; background-size: contain; position: absolute; z-index: 2; top: 0; left: calc(50% - 265px); width: 530px; 
}
.main-header .header-left-img { 
    height: 790px; position: absolute; z-index: 2; top: 0px; left: -2px; width: 490px; 
}
.main-header .header-left-img .stone-img { 
   width: 205px; height: 100px; background-image: url(../images/left-stone.png); background-image: -webkit-image-set(url(../images/left-stone.png) 1x, url(../images/left-stone@2x.png) 2x, url(../images/left-stone@3x.png) 3x); background-image: image-set(url(../images/left-stone.png) 1x, url(../images/left-stone@2x.png) 2x, url(../images/left-stone@3x.png) 3x); background-repeat: no-repeat; background-position: bottom left;  background-size: contain; position: absolute; bottom: 25px; left: 0;
}
.main-header .header-left-img .left-tree-img { 
    background-image: url(../images/header-left-img.png); background-image: -webkit-image-set(url(../images/header-left-img.png) 1x, url(../images/header-left-img@2x.png) 2x, url(../images/header-left-img@3x.png) 3x); background-image: image-set(url(../images/header-left-img.png) 1x, url(../images/header-left-img@2x.png) 2x, url(../images/header-left-img@3x.png) 3x); background-repeat: no-repeat; background-position: top left;  background-size: contain; width: 100%; height: 100%;
}
.main-header .header-right-img { 
    position: absolute; z-index: 2; top: 0px; right: -2px; width: 500px; height: 720px; 
}
.main-header .header-right-img .stone-img { 
   width: 265px; height: 115px; background-image: url(../images/right-stone.png); background-image: -webkit-image-set(url(../images/right-stone.png) 1x, url(../images/right-stone@2x.png) 2x, url(../images/right-stone@3x.png) 3x); background-image: image-set(url(../images/right-stone.png) 1x, url(../images/right-stone@2x.png) 2x, url(../images/right-stone@3x.png) 3x); background-repeat: no-repeat; background-position: bottom right;  background-size: contain; position: absolute; bottom: -30px; right: 0;
}
.main-header .header-right-img .right-tree-img { 
    background-image: url(../images/header-right-img.png); background-image: -webkit-image-set(url(../images/header-right-img.png) 1x, url(../images/header-right-img@2x.png) 2x, url(../images/header-right-img@3x.png) 3x); background-image: image-set(url(../images/header-right-img.png) 1x, url(../images/header-right-img@2x.png) 2x, url(../images/header-right-img@3x.png) 3x); background-repeat: no-repeat; background-position: top right; background-size: contain; width: 100%; height: 100%;
}
.main-header .header-menu { 
    position: relative; z-index: 5; 
}
.main-header .menu-list { 
    position: absolute; display: flex; align-items: flex-start; justify-content: space-between; width: 100%; top: 0px; 
}
.main-header .menu-list .menu-item { 
    max-width: 100%; width: 157px; width: auto;
}
.main-header .menu-list .menu-item span { 
    display: inline-block; 
}
.main-header .menu-list .menu-item.logo { 
    max-width: 100%; 
}
.main-header .header-img { 
    position: absolute; top: 0; left: 50%; right: 0; max-width: 480px; z-index: 2; transform: translateX(-50%); 
}
@media (max-width: 1200px) { 
    .main-header .header-top-img { 
        height: 380px; left: calc(50% - 190px); width: 380px; 
    }
    .main-header .header-left-img { 
        height: 580px; width: 370px; 
    }
    .main-header .header-left-img .stone-img { 
       width: 165px; height: 75px; bottom: 0px; left: 0;
    }
    .main-header .header-right-img { 
        width: 400px; height: 580px; right: 0;
    }
    .main-header .header-right-img .stone-img { 
       width: 190px; height: 82px; bottom: -20px; right: 0;
    }
    .main-header .menu-list .menu-item.logo span { 
        text-align: center; 
    }
    .main-header .menu-list .menu-item.logo img { 
        max-width: 70%; 
    }
}
@media (max-width: 992px) { 
    .main-header .header-top-img { 
        height: 340px; left: calc(50% - 170px); width: 340px; 
    }
    .main-header .header-left-img { 
        height: 430px; width: 285px;
    }
    .main-header .header-left-img .stone-img { 
       width: 130px; height: 75px; bottom: -15px; left: 0;
    }
    .main-header .header-right-img { 
        width: 295px; height: 420px; right: 0;
    }
    .main-header .header-right-img .stone-img { 
       width: 170px; height: 65px; bottom: -20px; right: 0;
    }
    .main-header .menu-list .menu-item.logo img { 
        max-width: 60%; 
    }
}
@media (max-width: 767px) { 
    .main-header .header-top-img { 
        height: 220px; left: calc(50% - 110px); width: 220px; 
    }
    .main-header .header-left-img { 
        height: 330px; width: 220px;
    }
    .main-header .header-left-img .stone-img { 
       width: 100px; height: 75px; bottom: -15px; left: 0;
    }
    .main-header .header-right-img { 
        width: 245px; height: 335px; right: 0;
    }
    .main-header .header-right-img .stone-img { 
       width: 130px; height: 65px; bottom: -20px; right: 0;
    }
    .main-header .menu-list .menu-item.logo img { 
        max-width: 62%; 
    }
}
@media (max-width: 575px) { 
    .main-header .header-top-img { 
        height: 160px; left: calc(50% - 80px); width: 160px; 
    }
    .main-header .header-left-img { 
        height: 270px; width: 175px;
    }
    .main-header .header-left-img .stone-img { 
       width: 80px; height: 40px; bottom: -15px; left: 0;
    }
    .main-header .header-right-img { 
        width: 245px; height: 270px; right: 0;
    }
    .main-header .header-right-img .stone-img { 
       width: 90px; height: 40px; bottom: -10px; right: 0;
    }
    .main-header .menu-list .menu-item img { 
        max-width: 90px; 
    }
    .main-header .menu-list .menu-item.logo img { 
        max-width: 155px; 
    }
}
@media (max-width: 420px) { 
    .main-header .header-top-img { 
        height: 120px; left: calc(50% - 60px); width: 120px; 
    }
    .main-header .header-left-img { 
        height: 210px; width: 140px;
    }
    .main-header .header-left-img .stone-img { 
       width: 45px; height: 25px; bottom: 0px;
    }
    .main-header .header-right-img { 
        width: 150px; height: 210px; right: 0;
    }
    .main-header .header-right-img .stone-img { 
       width: 60px; height: 25px; bottom: -5px; right: 0;
    }
    .main-header .menu-list .menu-item img { 
        max-width: 60px; 
    }
    .main-header .menu-list .menu-item.logo img { 
        max-width: 125px; 
    }
}
/******* Main Header - End **************/

/******* Inner Page Header **************/
.main-header.inner-page { 
    background-image: url(../images/inner-page-header.png); background-image: -webkit-image-set(url(../images/inner-page-header.png) 1x, url(../images/inner-page-header@2x.png) 2x, url(../images/inner-page-header@3x.png) 3x); background-image: image-set(url(../images/inner-page-header.png) 1x, url(../images/inner-page-header@2x.png) 2x, url(../images/inner-page-header@3x.png) 3x); background-repeat: no-repeat; background-position: top center; background-color: #F3D28D; min-height: 540px; background-size: 100% 100%;
}

/******* Inner Page Header - End **************/

/******* Main Footer **************/
.main-footer { 
    position: relative; overflow: hidden; 
}
.main-footer .footer-bg { 
    display: flex; align-items: center; background-image: url(../images/footer.png); background-image: -webkit-image-set(url(../images/footer.png) 1x, url(../images/footer@2x.png) 2x, url(../images/footer@3x.png) 3x); background-image: image-set(url(../images/footer.png) 1x, url(../images/footer@2x.png) 2x, url(../images/footer@3x.png) 3x); background-repeat: no-repeat; background-position: top center; background-size: 100% 100%; width: 100%; height: 410px; background-color: #F3D28D; 
}
.main-footer .social-menu-list { 
    list-style-type: none; margin: 0; display: flex; align-items: center; padding: 0; 
}
.main-footer .social-menu-list .menu-item { 
    margin-right: 60px; 
}
.main-footer .social-menu-list .menu-item:last-child { 
    margin-right: 0px; 
}
.main-footer .social-menu-list .menu-item img { 
    max-width: 90px; width: 100%; 
}
.main-footer .app-menu-list .menu-item img { 
    max-width: 180px; width: 100%; 
}
.main-footer .footer-menu { 
    list-style-type: none; padding: 0; margin: 60px 0 0; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
}
.main-footer .footer-menu .menu-item { 
    margin: 0px 15px; 
}
.main-footer .footer-menu .menu-item img { 
    height: 24px; 
}
@media (max-width: 992px) {
    .main-footer .footer-bg { 
       height: 300px; 
    }
    .main-footer .social-menu-list .menu-item { 
        margin-right: 40px; 
    }
    .main-footer .social-menu-list .menu-item img { 
        max-width: 70px;
    }
    .main-footer .app-menu-list .menu-item img { 
        max-width: 136px;
    }
    .main-footer .footer-menu { 
        margin: 40px 0 0; 
    }
    .main-footer .footer-menu .menu-item { 
        margin: 0px 12px; 
    }
}
@media (max-width: 767px) {    
    .main-footer .footer-bg { 
        height: 300px; 
    }
    .main-footer .social-menu-list .menu-item { 
        margin-right: 30px; 
    }
    .main-footer .social-menu-list .menu-item img { 
        max-width: 50px;
    }
    .main-footer .app-menu-list .menu-item img { 
        max-width: 120px;
    }
    .main-footer .footer-menu { 
        margin: 20px 0 0; 
    }
    .main-footer .footer-menu .menu-item { 
        margin: 15px 8px 0; 
    }
}
@media (max-width: 575px) {
    .main-footer .social-menu-list {
        justify-content: center !important;
    } 
    .main-footer .social-menu-list .menu-item { 
        margin-right: 10px; 
    }
    .main-footer .app-menu-list .menu-item {
        margin-top: 15px;
    }
    .main-footer .footer-menu .menu-item img { 
        height: 20px; 
    }
}
@media (max-width: 420px) {
    .main-footer .footer-bg { 
        height: 300px; 
    }
    .main-footer .social-menu-list .menu-item img { 
        max-width: 40px;
    }
    .main-footer .app-menu-list .menu-item img { 
        max-width: 100px;
    }
    .main-footer .footer-menu { 
        margin: 10px 0 0; 
    }
    .main-footer .footer-menu .menu-item { 
        margin: 10px 8px 0; 
    }
}
/******* Main Footer - End **************/

/******* Banner-body *****************/
.banner-body { 
    background-image: url(../images/banner-bg.png); background-image: -webkit-image-set(url(../images/banner-bg.png) 1x, url(../images/banner-bg@2x.png) 2x, url(../images/banner-bg@3x.png) 3x); background-image: image-set(url(../images/banner-bg.png) 1x, url(../images/banner-bg@2x.png) 2x, url(../images/banner-bg@3x.png) 3x); background-repeat: no-repeat; background-position: top center; background-size: 100% 100%; position: relative; overflow: hidden;
}
.banner-body .banner-img { 
    padding-top: 37%; padding-bottom: 60px; z-index: 4; position: relative; text-align: center; 
}
.banner-body .banner-img img { 
    max-width: 75%; 
}
@media (max-width: 1200px) {
    .banner-body .banner-img img { 
        max-width: 65%; 
    }
    .banner-body .banner-img { padding-top: 36%; padding-bottom: 40px; }
}
@media (max-width: 992px) {
    .banner-body .banner-img img { 
        max-width: 55%; 
    }
    .banner-body .banner-img { padding-top: 38%; padding-bottom: 30px; }
}
@media (max-width: 767px) {
    .banner-body { 
        min-height: auto; 
    }
    .banner-body .banner-img img { 
        max-width: 75%; 
    }
    .banner-body .banner-img { padding-top: 38%; padding-bottom: 30px; }
}
@media (max-width: 575px) {
    .banner-body .banner-img img { 
        max-width: 250px; 
    }
    .banner-body .banner-img { padding-top: 155px; padding-bottom: 30px; }
}
@media (max-width: 420px) {
    .banner-body .banner-img img { 
        max-width: 220px; 
    }
    .banner-body .banner-img { padding-top: 125px; padding-bottom: 20px; }
}

.main-section { background: #F3D28D; } 
.main-section a {word-break: break-word;}



/* invite-friend-block */
.invite-friend-block { 
    z-index: 9; position: relative; padding-bottom: 70px; 
}
.invite-friend-block .title { 
    text-align: center; padding: 0px 15px; 
}
.invite-friend-block .title h1 { 
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1900 - 320))); letter-spacing: 0.02em; color: #382414; 
}
.invite-friend-block .invite-action { 
    text-align: center; padding: 30px 15px 0; 
}
.invite-friend-block .invite-action a { 
    display: inline-block; 
}
@media (max-width: 992px) {
    .invite-friend-block { 
        padding-bottom: 50px; 
    }
    .invite-friend-block .invite-action { 
        padding: 10px 15px 0; 
    }
    .invite-friend-block .invite-action a {
        max-width: 175px;
    }
}
@media (max-width: 767px) {    
    .invite-friend-block .invite-action a { 
        max-width: 136px; 
    }
}
@media (max-width: 575px) {
    .invite-friend-block { 
        padding-bottom: 30px; 
    }    
    .invite-friend-block .invite-action a { 
        max-width: 120px; 
    }
}
@media (max-width: 420px) {
    .invite-friend-block { 
        padding-bottom: 30px; 
    }    
    .invite-friend-block .invite-action a { 
        max-width: 100px; 
    }
}

/************* play-cubilete-slider-block ******************/
.play-cubilete-slider-block { 
    padding: 80px 0px 50px; position: relative; background: linear-gradient(180deg, #28C662 34.76%, #07A2A2 100%); overflow: hidden;
}
.play-cubilete-slider-block .play-cubilete-slider .slick-list.draggable { 
    cursor: grab; 
}
.play-cubilete-slider-block .play-cubilete-slider .slick-slide .slide-img img { 
    margin: 0 auto; 
} 
.play-cubilete-slider-block .play-cubilete-slider { 
    position: relative; z-index: 9; margin-bottom: 0;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img { 
    text-align: center; 
}  
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block { 
    position: relative; display: inline-block; padding: 0 18%; 
}
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block img { 
    position: relative; z-index: 2; 
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img { 
    position: absolute; bottom: 40px; left: 0px; width: 245px; height: 245px; z-index: 1;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img .left-dice-img {  
    background-image: url(../images/left-dice-img.png); background-image: -webkit-image-set(url(../images/left-dice-img.png) 1x, url(../images/left-dice-img@2x.png) 2x, url(../images/left-dice-img@3x.png) 3x); background-image: image-set(url(../images/left-dice-img.png) 1x, url(../images/left-dice-img@2x.png) 2x, url(../images/left-dice-img@3x.png) 3x); background-repeat: no-repeat; background-position: top left;  background-size: contain; width: 100%; height: 100%;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img { 
    position: absolute; top: 40px; right: 0px; width: 245px; height: 245px; z-index: 1;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img .right-dice-img {  
    background-image: url(../images/right-dice-img.png); background-image: -webkit-image-set(url(../images/right-dice-img.png) 1x, url(../images/right-dice-img@2x.png) 2x, url(../images/right-dice-img@3x.png) 3x); background-image: image-set(url(../images/right-dice-img.png) 1x, url(../images/right-dice-img@2x.png) 2x, url(../images/right-dice-img@3x.png) 3x); background-repeat: no-repeat; background-position: top left;  background-size: contain; width: 100%; height: 100%;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left { 
    text-align: left; 
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block { 
    padding: 120px 18% 0px 0; 
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block img { 
    height: 426px; 
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img { 
    position: absolute; bottom: -215px; left: -25px; width: 245px; height: 245px; z-index: 1;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img .up-dice-img {  
    background-image: url(../images/left-dice-img.png); background-image: -webkit-image-set(url(../images/left-dice-img.png) 1x, url(../images/left-dice-img@2x.png) 2x, url(../images/left-dice-img@3x.png) 3x); background-image: image-set(url(../images/left-dice-img.png) 1x, url(../images/left-dice-img@2x.png) 2x, url(../images/left-dice-img@3x.png) 3x); background-repeat: no-repeat; background-position: top left;  background-size: contain; width: 100%; height: 100%;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img { 
    position: absolute; top: 40px; right: 105px; width: 245px; height: 245px; z-index: 1;
} 
.play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img .down-dice-img {  
    background-image: url(../images/right-dice-img.png); background-image: -webkit-image-set(url(../images/right-dice-img.png) 1x, url(../images/right-dice-img@2x.png) 2x, url(../images/right-dice-img@3x.png) 3x); background-image: image-set(url(../images/right-dice-img.png) 1x, url(../images/right-dice-img@2x.png) 2x, url(../images/right-dice-img@3x.png) 3x); background-repeat: no-repeat; background-position: top left;  background-size: contain; width: 100%; height: 100%;
}
.play-cubilete-slider-block .slick-dots { 
    padding-left: 225px; bottom: 165px; 
}
.play-cubilete-slider-block .silde-info .slide-desc { 
    padding-top: 50px; 
}
.play-cubilete-slider-block .silde-info .slide-desc .title-img { 
    width: 100%; 
}
.play-cubilete-slider-block .silde-info .slide-desc .desc { 
    max-width: 500px; width: 100%; padding: 40px 0px 70px 55px; font-family: 'Segoe UI'; font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 320))); font-weight: bold; color: #1B1B1B; 
}
@media (max-width: 1200px) { 
    .play-cubilete-slider-block { 
        padding: 50px 0px 30px;
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block { 
        padding: 0 120px; 
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img { 
        bottom: 40px;width: 180px; height: 180px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img { 
        top: 40px; width: 180px; height: 180px;
    }     
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block img { 
        max-height: 550px; 
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block { 
        padding: 100px 90px 0px 0; 
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block img { 
        height: auto; 
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img { 
        bottom: -115px; left: -15px; width: 180px; height: 180px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img { 
        top: 50px; right: 105px; width: 180px; height: 180px;
    } 
    .play-cubilete-slider-block .slick-dots { 
        bottom: 60px; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc { 
        padding-top: 10px; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc .title-img img { 
        width: 90%; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc .desc { 
        max-width: 450px; width: 100%; padding: 15px 0px 50px 50px; 
    }
}
@media (max-width: 992px) {  
    .play-cubilete-slider-block { 
        padding: 50px 0px 70px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img,
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img { 
       width: 150px; height: 150px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block { 
        padding: 70px 90px 70px 0; 
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block img { 
        max-width: 550px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img { 
        bottom: -25px; left: -15px; width: 150px; height: 150px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img { 
        top: 30px; right: 105px; width: 150px; height: 150px;
    } 
    .play-cubilete-slider-block .slick-dots { 
        bottom: -20px; padding-left: 0;
    }
    .play-cubilete-slider-block .silde-info .slide-desc { 
        padding-top: 10px; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc .title-img img{ 
        width: 75%; margin: 0 auto; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc .desc { 
        max-width: 100%; width: 100%; text-align: center; padding: 15px 80px 50px;
    }
}
@media (max-width: 767px) {    
    .play-cubilete-slider-block { 
        padding: 50px 0px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img,
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img { 
       width: 120px; height: 120px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block { 
        padding: 0 90px; 
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block img{ 
        max-height: 450px;
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block { 
        padding: 70px 60px 70px 0; 
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block img { 
        max-width: 450px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img { 
        bottom: -25px; left: -15px; width: 120px; height: 120px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img { 
        top: 30px; right: 105px; width: 120px; height: 120px;
    } 
    .play-cubilete-slider-block .slick-dots { 
        bottom: 0px; padding-left: 0;
    }
    .play-cubilete-slider-block .silde-info .slide-desc { 
        padding-top: 10px; 
    }
    .play-cubilete-slider-block .silde-info .slide-desc .desc { 
        padding: 15px 30px 50px;
    }
}
@media (max-width: 575px) {  
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-left-img,
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-right-img { 
       width: 100px; height: 100px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block { 
        padding: 0 70px; 
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block img{ 
        max-height: 350px;
    }
    .play-cubilete-slider-block .play-cubilete-slider .slide-img.slide-left .img-block img { 
        max-width: 350px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-up-img { 
        width: 100px; height: 100px;
    } 
    .play-cubilete-slider-block .play-cubilete-slider .slide-img .img-block .slide-down-img { 
        width: 100px; height: 100px;
    } 
    .play-cubilete-slider-block .silde-info .slide-desc .desc { 
        padding: 15px 15px 50px;
    } 
}
/************* play-cubilete-slider-block - End ******************/

/************* How To Play Block ******************/
.how-to-play-block { 
    background-image: url(../images/dot-bg.png); background-image: -webkit-image-set(url(../images/dot-bg.png) 1x, url(../images/dot-bg@2x.png) 2x, url(../images/dot-bg@3x.png) 3x); background-image: image-set(url(../images/dot-bg.png) 1x, url(../images/dot-bg@2x.png) 2x, url(../images/dot-bg@3x.png) 3x); background-repeat: repeat; background-position: center center; background-size: contain; background-color: #F3D28D; padding: 70px 0px 150px; position: relative; overflow: hidden;
}
.how-to-play-block .slider-left-img { 
    background-image: url(../images/how-play-vector-left.png); background-image: -webkit-image-set(url(../images/how-play-vector-left.png) 1x, url(../images/how-play-vector-left@2x.png) 2x, url(../images/how-play-vector-left@3x.png) 3x); background-image: image-set(url(../images/how-play-vector-left.png) 1x, url(../images/how-play-vector-left@2x.png) 2x, url(../images/how-play-vector-left@3x.png) 3x); background-repeat: no-repeat; background-position: bottom left; height: 643px; background-size: contain; position: absolute; z-index: 1; bottom: 80px; left:0; max-width: 374px; width: 100%; 
}
.how-to-play-block .slider-right-img { 
    background-image: url(../images/how-play-vector-right.png); background-image: -webkit-image-set(url(../images/how-play-vector-right.png) 1x, url(../images/how-play-vector-right@2x.png) 2x, url(../images/how-play-vector-right@3x.png) 3x); background-image: image-set(url(../images/how-play-vector-right.png) 1x, url(../images/how-play-vector-right@2x.png) 2x, url(../images/how-play-vector-right@3x.png) 3x); background-repeat: no-repeat; background-position: top right; height: 520px; background-size: contain; position: absolute; z-index: 1; top: 120px; right:0; max-width: 300px; width: 100%; 
}
.how-to-play-block .title-img { 
    text-align: center;  z-index: 9; position: relative; padding: 0px 15px 30px; 
}
.how-to-play-block .title-img h2 { 
    font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (1900 - 320))); padding: 0px 15px; color: #1B1B1B; letter-spacing: 0.02em; 
}
.how-to-play-block .title-img h6 { 
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1900 - 320))); color: #382414; padding: 10px 15px 0; font-family: 'Segoe UI'; 
}
.how-to-play-block .title-img span { 
    display: inline-block; 
}
.how-to-play-block .title-img img { 
    max-width: 600px; width: 100%; text-align: center; margin: 0px auto 10px; 
}
.how-to-play-block .how-play-slider { 
    padding-top: 50px; margin-bottom: 70px; z-index: 9; 
}
.how-to-play-block .slick-dots { 
    padding-left: 0px; bottom: -60px; 
}
.how-to-play-block .how-play-slider .silde-info .slide-img { 
    text-align: center; padding: 20px 0;
}
.how-to-play-block .how-play-slider .slide-desc { 
    padding-top: 40px; 
}
.how-to-play-block .how-play-slider .slide-desc .title-img { 
    padding-bottom: 0; 
}
.how-to-play-block .how-play-slider .slide-desc .title-img img { 
    max-width: 825px; width: 100%; 
}
.how-to-play-block .how-play-slider .slide-desc .desc { 
    max-width: 800px; width: 100%; font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1900 - 320))); color: #382414; text-align: center; margin: 0px auto; font-family: 'Segoe UI'; 
}
@media (max-width: 1440px) { 
    .how-to-play-block .how-play-slider .silde-info .slide-img img { 
        max-width: 75%; margin: 0 auto;
    }
}
@media (max-width: 1200px) {
    .how-to-play-block { 
        padding: 70px 0px 100px;
    }
    .how-to-play-block .slider-left-img { 
        height: 470px; max-width: 275px;
    }
    .how-to-play-block .slider-right-img { 
        height: 420px; top: 180px; max-width: 245px;
    }
    .how-to-play-block .title-img img { 
        max-width: 500px; 
    }
    .how-to-play-block .how-play-slider .slide-desc .title-img img { 
        max-width: 650px;
    }
}
@media (max-width: 992px) {
    .how-to-play-block { 
        padding: 60px 0px 80px;
    }
    .how-to-play-block .title-img img { 
        max-width: 400px; 
    }
    .how-to-play-block .how-play-slider .silde-info .slide-img img { 
        max-width: 85%; margin: 0 auto;
    }
    .how-to-play-block .how-play-slider .slide-desc .title-img img { 
        max-width: 600px;
    }
}
@media (max-width: 767px) { 
    .how-to-play-block .slider-left-img { 
        height: 370px; max-width: 215px;
    }
    .how-to-play-block .slider-right-img { 
        height: 320px; top: 120px; max-width: 185px;
    }
}
@media (max-width: 575px) {
    .how-to-play-block { 
        padding: 50px 0px;
    }
    .how-to-play-block .title-img {
        padding: 0 15px 10px;
    }
    .how-to-play-block .how-play-slider .slide-desc { 
        padding-top: 20px; 
    }
    .how-to-play-block .slider-left-img { 
        height: 250px; max-width: 145px; bottom: 120px;
    }
    .how-to-play-block .slider-right-img { 
        height: 220px; top: 200px; max-width: 120px;
    }
    .how-to-play-block .how-play-slider {
        margin-bottom: 50px;
    }
    .how-to-play-block .slick-dots {
        bottom: -40px;
    }
} 
/************* How To Play Block - End ******************/

/* main-inner-section */
.main-cms-section { 
    min-height: 380px; background-image: url(../images/inner-page-banner-bg.png); background-image: -webkit-image-set(url(../images/inner-page-banner-bg.png) 1x, url(../images/inner-page-banner-bg@2x.png) 2x, url(../images/inner-page-banner-bg@3x.png) 3x); background-image: image-set(url(../images/inner-page-banner-bg.png) 1x, url(../images/inner-page-banner-bg@2x.png) 2x, url(../images/inner-page-banner-bg@3x.png) 3x); background-repeat: no-repeat; background-position: top center; background-size: 100% 100%; position: relative; padding: 40px 0px 90px;
}
@-webkit-keyframes swing{
    20%{-webkit-transform:rotate(0.8deg);transform:rotate(0.8deg)}
    40%{-webkit-transform:rotate(-0.8deg);transform:rotate(-0.8deg)}
    60%{-webkit-transform:rotate(0.8deg);transform:rotate(0.8deg)}
    80%{-webkit-transform:rotate(-0.8deg);transform:rotate(-0.8deg)}
    to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
@keyframes swing{
    20%{-webkit-transform:rotate(0.8deg);transform:rotate(0.8deg)}
    40%{-webkit-transform:rotate(-0.8deg);transform:rotate(-0.8deg)}
    60%{-webkit-transform:rotate(0.8deg);transform:rotate(0.8deg)}
    80%{-webkit-transform:rotate(-0.8deg);transform:rotate(-0.8deg)}
    to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}

/* .container {max-width: 1500px;} */

#preloader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999999;background: rgba(0, 0, 0, 0.91);}
body .vertical-centered-box {position: absolute;width: 100%;height: 100%;text-align: center;}
body .vertical-centered-box:after {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right:-0.25em;}
body .vertical-centered-box .content {display: inline-block;vertical-align: middle;text-align: left;font-size: 0;}
body .vertical-centered-box svg {margin-top: -35px; position: absolute; top: 50%; left: 50%; margin-left: -35px;}
          
/*
* Letter Zooming loading animation
*/
@keyframes letter-zoom {
    from {transform: scale(0.8);}
    50% {transform: scale(1);}
    to {transform: scale(0.8);}
}

@media (min-width: 1400px) { 
    .how-to-play-block .how-play-slider .silde-info .slide-img img { max-width: 994px; width: 100%; margin: 0px auto; }
}
@media (max-width: 1440px) { 
    body { font-size: 18px; }
    .slider .slick-prev.slick-arrow { top: 27%; left: 0px; width: 45px; height: 45px; }
    .slider .slick-next.slick-arrow { top: 27%; right: 0px; width: 45px; height: 45px; }
}
@media (max-width: 1023px) {
    #preloader img {max-width: 200px;}
}
@media (max-width: 992px) { 
    .banner-body.inner-page { min-height: 250px; }
    .main-header.inner-page .header-top-img { top: -90px; height: 230px; }
    .main-section { padding: 0px 0px; }
    .main-inner-section { padding: 30px 0px 70px; }
    .main-inner-section h1 { font-size: 42px; }
    .slider .slick-arrow { width: 35px!important; height: 35px!important; }   
}
@media (max-width: 767px) { 
    body {font-size: 16px;}
    .main-inner-section { padding: 25px 0px 50px; }
    .main-inner-section h1 { font-size: 36px; margin-bottom: 20px; }
    .main-inner-section .desc h3 { font-size: 20px; margin: 20px 0px 10px; }
    .main-header.inner-page .header-top-img { top: -10px; height: 165px; }
    .slider .slick-dots li { width: 20px; height: 20px; }
    .slider .slick-dots li button { width: 20px; height: 20px; } 
    .slider .slick-prev.slick-arrow { left: -7.5%; top: 25% }
    .slider .slick-next.slick-arrow { right: -7.5%; top: 25% }
}
@media (max-width: 575px) { 
    .main-inner-section h1 { font-size: 28px; }   
    .main-inner-section .desc p { font-size: 14px; }  
    .main-inner-section .desc h3 { font-size: 18px; }
    .slider .slick-arrow { width: 28px!important; height: 28px!important; }
    .slider .slick-prev.slick-arrow { left: -5px; top: 22% }
    .slider .slick-next.slick-arrow { right: -5px; top: 22% } 
  
}
@media (max-width: 420px) { 
    .slider .slick-arrow { width: 20px!important; height: 20px!important;  }
    .main-inner-section h1 { font-size: 24px; }
}