#maincontent > .o-content-block.o-padded-width.o-wysi {padding: 0px !important;}
.green-text { color: #2cd1cc; }
.aling-bottom { margin-top: auto; }
body .c-hero-cta-button { max-width: 150px; min-width: unset; padding: 1rem 1.75rem; border: none; color: #fff !important; }
body .c-hero-cta-light { background: #0b2958; border-color: transparent; color: #fff; }
body .c-hero-cta-light:hover, body .c-hero-cta-light:focus {color: #fff; background: #0a2e36;}
.icon-minus { width: 17px; height: 4px; border-radius: 1px; background-color: #8f94a2; }
.icon-check { display: inline-block; background: url(../image/check.svg) no-repeat center center; background-size: 18px; width: 20px; height: 20px; }
.page-into-section { padding-top: 164px; padding-bottom: 134px; background-color: #2fb36d; background-image: linear-gradient(121deg, #28975c, #2fb36d); color: #fff !important; }
.icon-close { display: inline-block; background: url(../image/close.svg) no-repeat center center; background-size: 14px; width: 18px; height: 18px; }
.page-into-section.price-intro-section { padding-top: 100px; padding-bottom: 300px; }
.page-title { margin-top: 0px; margin-bottom: 16px; font-size: 56px; line-height: 1.1em; font-weight: 700; }
.price-intro-content p { font-size: 18px; line-height: 1.777; font-weight: 400; }
body .price-intro-content * { text-align: center; color: #fff;}  
.price-section { padding-bottom: 75px; }  
.price-block { position: relative; z-index: 5; border: 1px solid #e4e6eb; border-radius: 12px; background-color: #fff; font-size: 14px; line-height: 1.5; max-width: 1248px; margin: 0 auto; margin-top: -272px; }
.price-block-header { position: relative; z-index: 15; border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: #fff; }
.pro-label { position: absolute;left: 26.24%; top: 0px; z-index: 1; width: 24.53%; padding: 10px 7px; border-left: 1px solid #e4e6eb; background-color: #fff5ee; color: #ff7a1a; font-size: 12px; line-height: 1em; font-weight: 500; text-align: center; }
.pro-label.business-label { right: 0%; display: none; width: 49.06%; background-color: #edf8f8; color: #2cd1cc; }
.pro-label.pro-label-new { width: 18.44%; }  
.pr-inner-block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border-bottom: 1px solid #e4e6eb; transition: all 0.3s ease-in-out; }
.pr-inner-block:not(.pr-inner-block-header):hover { background: #fafafa; }
.pr-inner-block.pr-inner-block-footer { border-bottom-width: 0px; }  
.pr-header-block-cell { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 18.44%; padding: 24px 16px 24px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-flex: 1; -webkit-flex: auto; -ms-flex: auto; flex: auto; border-left: 1px solid #e4e6eb; -webkit-transition: padding-top 300ms ease; transition: padding-top 300ms ease; }
.pr-header-block-cell.pr-cell-first { width: 26.24%; padding-right: 38px; -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; border-left-width: 0px; font-size: 16px; }
.package-head { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: 16px; line-height: 1.55em; }
.md-title { margin-top: 0px; margin-bottom: 24px; font-size: 28px; line-height: 1.25em; font-weight: 500; }
.md-title.md-title-pricing { margin-bottom: 0px; }
.md-title.md-title-modal { margin-bottom: 5px; }
.md-title.no-margin { margin-bottom: 0px; }
.package-price { margin-bottom: 26px; font-size: 22px; line-height: 1em; }
.package-key-features { display: none; }
.mobile-plan-detail { display: none; padding-bottom: 24px; text-align: center; }
.mobile-plan-title { display: none; }
.pricing-text { margin-bottom: 20px; }
.pricing-note { display: inline-block; color: #696e7c; font-size: 14px; }
.annual-price { display: none; }
.annualy .regular-price { display: none; }
.annualy .annual-price { display: inline; }
.pr-inner-center { padding: 23px 16px; border-bottom: 1px solid #e4e6eb; text-align: center; }
.pr-inner-header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; min-height: 84px; padding: 17px 16px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border-bottom: 1px solid #e4e6eb; background-color: #f7f8fa; font-size: 24px; line-height: 1.5; font-weight: 500; }
.pr-inner-header-text { color: #696e7c; font-size: 14px; }
.pr-body-block-cell { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;display: flex; width: 18.44%; min-height: 70px; padding: 8px 16px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -webkit-flex: auto; -ms-flex: auto; flex: auto; border-left: 1px solid #e4e6eb; }
.pr-body-block-cell.pr-cell-first { width: 26.24%; padding-right: 38px; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; border-left-width: 0px; font-size: 16px; }
.pr-info-block { position: absolute; top: 50%; right: 16px; z-index: 10; margin-top: -8px; }
.icon_inform { display: none; width: 14px; height: 14px; background-image: url("../image/icon-info.svg"); background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; line-height: 1em; }
.icon_inform:hover { background-image: url("../image/icon-info-hover.svg"); }
.pr-info-block-hover { position: absolute; left: 50%; bottom: 100%; display: none; width: 244px; margin-bottom: 13px; padding: 12px; border-radius: 8px; background-color: #000; box-shadow: 0 8px 16px 0 rgba(44, 50, 66, 0.08); -webkit-transform: translate(-50%, 0px); -ms-transform: translate(-50%, 0px); transform: translate(-50%, 0px); color: #fff; font-size: 14px; line-height: 1.45em; }
.pr-info-block-arrow { position: absolute; left: 50%; top: 100%; margin-left: -5px; border-top: 5px solid #000; border-right: 5px solid transparent; border-left: 5px solid transparent; border-radius: 8px; }
.price-switch-label { position: absolute; left: 0px; top: 0px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; height: 44px; padding-left: 16px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background-color: #f7f8fa; line-height: 1; }
.price-switch-label.d-none { display: none; }
.price-switch { position: relative; width: 30px; height: 16px; margin-right: 8px; border-radius: 100px; background-color: #bdbfc7; cursor: pointer; }
.price-switch-toggler { position: absolute; left: 3px; top: 3px; width: 10px; height: 10px; border-radius: 50%; background-color: #fff; -webkit-transition: all 300ms ease; transition: all 300ms ease; }
.annualy .price-switch { background: #2fb36d; }
.annualy .price-switch-toggler { left: 17px; }
@media (min-width: 768px) {
.is_stuck .pro-label, .is_stuck .package-head-inner, .is_stuck .price-switch-label { display: none; }
.is_stuck .md-title-pricing { font-size: 24px; margin-bottom: 16px; }
.is_stuck .pr-header-block-cell { padding-top: 24px; }
}

.small-title { margin-top: 0px; margin-bottom: 18px; font-size: 24px; line-height: 1.3em; font-weight: 500; }
.paragraph { display: block; padding-top: 14px; padding-left: 21px; font-size: 13px; max-width: 1248px; width: 100%; margin: 0 auto; }


.price-intro-section-new { background: #0b2958; }
.price-intro-section-new .price-intro-content * { padding: 0 15px; }
.price-section-new .pr-inner-block { border: none; }
.price-section-new .price-block-header.is_stuck .pr-inner-block { border-bottom: 1px solid #c3c3c3; }
.price-section-new .price-block-header.is_stuck ~ .included-title { margin: 0; }
.price-section-new .price-block { border-color: #c3c3c3; border-radius: 0; }
.price-section-new .pr-header-block-cell { padding: 25px 15px; border-left: 2px solid #c3c3c3; }
.price-section-new .pr-header-block-cell:first-child { border-left: none; }
.price-section-new .included-title { text-align: center; border: 1px solid #c3c3c3; margin-left: -50px; margin-right: -50px; background: #f2f2f2; color: #0b2958; font-weight: 600; font-size: 24px; padding: 10px 15px; }
.price-section-new .package-head { text-align: center; width: 100%; }
.price-section-new .package-head .include-list { display: none; }
.price-section-new .package-head h3 { margin-bottom: 25px; font-weight: 600; line-height: 1; }
.price-section-new .package-head h3.text-gray { color: #a6a6a6; }
.price-section-new .package-head h3.text-sky-blue { color: #2cd1cb; }
.price-section-new .package-head h3.text-blue { color: #0b2958; }
.price-section-new .package-head h3.text-green { color: #2fb36d; }
.price-section-new .package-head .package-price { margin-bottom: 3px; }
.price-section-new .package-head .package-price span { display: block; font-size: 16px; margin-bottom: 5px; }
.price-section-new .package-head .package-price .text-blue { color: #2cd1cb; font-size: 14px; font-weight: 600; margin-bottom: 5px; }
.price-section-new .package-head .package-price .info { font-size: 14px; margin-bottom: 12px; }
.price-section-new .package-head .package-price .divider { font-size: 24px; line-height: 0.5; margin-bottom: 20px; margin-top: -10px; }
.price-section-new .package-head .package-price .regular-price { font-weight: 700; font-size: 22px; }
.price-section-new .package-head .pricing-text { max-width: 220px; margin: 0 auto 30px; font-size: 14px; }
.price-section-new .package-head .pricing-text.mb-15 { margin: 0 auto 15px; }
.price-section-new .package-head .c-hero-cta-button { margin: 0 auto;}
.price-section-new .package-head .c-hero-cta-button.btn-skay-blue { background: #2cd1cb; }
.price-section-new .package-head .c-hero-cta-button.btn-skay-blue:hover { background: #23aca7; }
.price-section-new .package-head .c-hero-cta-button.btn-gray { background: #a6a6a6; }
.price-section-new .package-head .c-hero-cta-button.btn-gray:hover { background: #838383; }
.price-section-new .price-block-body .pr-inner-block { border-bottom: none; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell { display: block; padding: 5px 15px; min-height: auto; align-items: flex-start; border-left: 2px solid #c3c3c3; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell:first-child { border-left: none; }
.price-section-new .price-block-body .pr-inner-block:hover { background: transparent; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell.info-title { justify-content: center; padding: 20px 15px 5px; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell.info-title { color: #2cd1cb; font-style: italic; text-align: center; font-weight: 600; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell.info-title.text-green { color: #2fb36d;}
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell .title { color: #0b2958; font-size: 16px; margin-bottom: 20px; font-weight: 600; }
.price-section-new .check-list { padding: 0; margin: 0 0 20px; list-style-type: none; }
.price-section-new .check-list li { position: relative; padding: 0 0 10px 20px; font-size: 16px; display: block; line-height: 1.5; }
.price-section-new .check-list li::before { content: ''; background: url('data:image/svg+xml;utf8,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5279 7.30298C2.57279 7.35081 2.62701 7.38893 2.6872 7.41499C2.7474 7.44105 2.8123 7.45449 2.8779 7.45449C2.9435 7.45449 3.0084 7.44105 3.06859 7.41499C3.12879 7.38893 3.18301 7.35081 3.2279 7.30298L8.8479 1.68298C8.89476 1.6365 8.93196 1.5812 8.95734 1.52027C8.98273 1.45934 8.9958 1.39398 8.9958 1.32798C8.9958 1.26197 8.98273 1.19662 8.95734 1.13569C8.93196 1.07476 8.89476 1.01946 8.8479 0.972978L8.3179 0.442977C8.22443 0.351363 8.09877 0.300049 7.9679 0.300049C7.83702 0.300049 7.71136 0.351363 7.6179 0.442977L2.8779 5.18298L1.3779 3.69298C1.33301 3.64515 1.27879 3.60702 1.21859 3.58096C1.1584 3.5549 1.0935 3.54146 1.0279 3.54146C0.962303 3.54146 0.897402 3.5549 0.837204 3.58096C0.777007 3.60702 0.722789 3.64515 0.677899 3.69298L0.147899 4.22298C0.101035 4.26946 0.0638379 4.32476 0.0384536 4.38569C0.0130692 4.44662 0 4.51197 0 4.57798C0 4.64398 0.0130692 4.70934 0.0384536 4.77027C0.0638379 4.83119 0.101035 4.8865 0.147899 4.93298L2.5279 7.30298Z" fill="rgb(47 179 109)"/></svg>')no-repeat center center; min-width: 12px; height: 12px; background-size: 12px !important; position: absolute; top: 5px; left: 0; }
.price-section-new .check-list.gray-list li::before { content: ''; background: url('data:image/svg+xml;utf8,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5279 7.30298C2.57279 7.35081 2.62701 7.38893 2.6872 7.41499C2.7474 7.44105 2.8123 7.45449 2.8779 7.45449C2.9435 7.45449 3.0084 7.44105 3.06859 7.41499C3.12879 7.38893 3.18301 7.35081 3.2279 7.30298L8.8479 1.68298C8.89476 1.6365 8.93196 1.5812 8.95734 1.52027C8.98273 1.45934 8.9958 1.39398 8.9958 1.32798C8.9958 1.26197 8.98273 1.19662 8.95734 1.13569C8.93196 1.07476 8.89476 1.01946 8.8479 0.972978L8.3179 0.442977C8.22443 0.351363 8.09877 0.300049 7.9679 0.300049C7.83702 0.300049 7.71136 0.351363 7.6179 0.442977L2.8779 5.18298L1.3779 3.69298C1.33301 3.64515 1.27879 3.60702 1.21859 3.58096C1.1584 3.5549 1.0935 3.54146 1.0279 3.54146C0.962303 3.54146 0.897402 3.5549 0.837204 3.58096C0.777007 3.60702 0.722789 3.64515 0.677899 3.69298L0.147899 4.22298C0.101035 4.26946 0.0638379 4.32476 0.0384536 4.38569C0.0130692 4.44662 0 4.51197 0 4.57798C0 4.64398 0.0130692 4.70934 0.0384536 4.77027C0.0638379 4.83119 0.101035 4.8865 0.147899 4.93298L2.5279 7.30298Z" fill="rgb(166 166 166)"/></svg>') no-repeat center center; }
.price-section-new .check-list.blue-list li::before { content: ''; background: url('data:image/svg+xml;utf8,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5279 7.30298C2.57279 7.35081 2.62701 7.38893 2.6872 7.41499C2.7474 7.44105 2.8123 7.45449 2.8779 7.45449C2.9435 7.45449 3.0084 7.44105 3.06859 7.41499C3.12879 7.38893 3.18301 7.35081 3.2279 7.30298L8.8479 1.68298C8.89476 1.6365 8.93196 1.5812 8.95734 1.52027C8.98273 1.45934 8.9958 1.39398 8.9958 1.32798C8.9958 1.26197 8.98273 1.19662 8.95734 1.13569C8.93196 1.07476 8.89476 1.01946 8.8479 0.972978L8.3179 0.442977C8.22443 0.351363 8.09877 0.300049 7.9679 0.300049C7.83702 0.300049 7.71136 0.351363 7.6179 0.442977L2.8779 5.18298L1.3779 3.69298C1.33301 3.64515 1.27879 3.60702 1.21859 3.58096C1.1584 3.5549 1.0935 3.54146 1.0279 3.54146C0.962303 3.54146 0.897402 3.5549 0.837204 3.58096C0.777007 3.60702 0.722789 3.64515 0.677899 3.69298L0.147899 4.22298C0.101035 4.26946 0.0638379 4.32476 0.0384536 4.38569C0.0130692 4.44662 0 4.51197 0 4.57798C0 4.64398 0.0130692 4.70934 0.0384536 4.77027C0.0638379 4.83119 0.101035 4.8865 0.147899 4.93298L2.5279 7.30298Z" fill="rgb(11 41 88)"/></svg>') no-repeat center center; }
.price-section-new .price-block-body .pr-inner-block .pr-body-block-cell .check-list.sky-blue-list li::before { content: ''; background: url('data:image/svg+xml;utf8,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5279 7.30298C2.57279 7.35081 2.62701 7.38893 2.6872 7.41499C2.7474 7.44105 2.8123 7.45449 2.8779 7.45449C2.9435 7.45449 3.0084 7.44105 3.06859 7.41499C3.12879 7.38893 3.18301 7.35081 3.2279 7.30298L8.8479 1.68298C8.89476 1.6365 8.93196 1.5812 8.95734 1.52027C8.98273 1.45934 8.9958 1.39398 8.9958 1.32798C8.9958 1.26197 8.98273 1.19662 8.95734 1.13569C8.93196 1.07476 8.89476 1.01946 8.8479 0.972978L8.3179 0.442977C8.22443 0.351363 8.09877 0.300049 7.9679 0.300049C7.83702 0.300049 7.71136 0.351363 7.6179 0.442977L2.8779 5.18298L1.3779 3.69298C1.33301 3.64515 1.27879 3.60702 1.21859 3.58096C1.1584 3.5549 1.0935 3.54146 1.0279 3.54146C0.962303 3.54146 0.897402 3.5549 0.837204 3.58096C0.777007 3.60702 0.722789 3.64515 0.677899 3.69298L0.147899 4.22298C0.101035 4.26946 0.0638379 4.32476 0.0384536 4.38569C0.0130692 4.44662 0 4.51197 0 4.57798C0 4.64398 0.0130692 4.70934 0.0384536 4.77027C0.0638379 4.83119 0.101035 4.8865 0.147899 4.93298L2.5279 7.30298Z" fill="rgb(44 209 203)"/></svg>') no-repeat center center; }
.price-section-new .pr-inner-block.pr-inner-block-footer:hover { background: transparent; }

.more-info-section { background: #f6f6f6; padding: 75px 0; }
.more-info-section .multi-event-block { max-width: 1240px; margin: 0 auto; }
.more-info-section .multi-event-block h2 { font-size: 40px; color: #2fb36d; margin-bottom: 30px; }
.more-info-section .multi-event-block .table-block table { width: 60%; border: 2px solid #c3c3c3; box-shadow: 0 0 15px 5px rgb(0 0 0 / 10%); background: #ffffff; margin-bottom: 5px; }
.more-info-section .multi-event-block .table-block table tr td { border-top: 1px solid #c3c3c3; border-left: 2px solid #c3c3c3; text-align: center; padding: 12px 15px; font-size: 16px; font-weight: 600; }
.more-info-section .multi-event-block .table-block table tr:first-child td { border-top: none; }
.more-info-section .multi-event-block .table-block table tr td:first-child { border-left: none; font-weight: 400; font-size: 14px; color: #a6a6a6; }
.more-info-section .multi-event-block .table-block .note { font-size: 14px; }
.more-info-section .additional-block { padding-top: 30px; }
.more-info-section .additional-block h3 { font-size: 24px; color: #0b2958; margin-bottom: 15px; }
.more-info-section .additional-block .check-list { padding: 0; margin: 0px; list-style-type: none; }
.more-info-section .additional-block .check-list li { position: relative; padding: 0 0 10px 20px; font-size: 16px; display: block; line-height: 1.5; }
.more-info-section .additional-block .check-list li:last-child { padding-bottom: 0px; }
.more-info-section .additional-block .check-list li::before { content: ''; background: url('data:image/svg+xml;utf8,<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5279 7.30298C2.57279 7.35081 2.62701 7.38893 2.6872 7.41499C2.7474 7.44105 2.8123 7.45449 2.8779 7.45449C2.9435 7.45449 3.0084 7.44105 3.06859 7.41499C3.12879 7.38893 3.18301 7.35081 3.2279 7.30298L8.8479 1.68298C8.89476 1.6365 8.93196 1.5812 8.95734 1.52027C8.98273 1.45934 8.9958 1.39398 8.9958 1.32798C8.9958 1.26197 8.98273 1.19662 8.95734 1.13569C8.93196 1.07476 8.89476 1.01946 8.8479 0.972978L8.3179 0.442977C8.22443 0.351363 8.09877 0.300049 7.9679 0.300049C7.83702 0.300049 7.71136 0.351363 7.6179 0.442977L2.8779 5.18298L1.3779 3.69298C1.33301 3.64515 1.27879 3.60702 1.21859 3.58096C1.1584 3.5549 1.0935 3.54146 1.0279 3.54146C0.962303 3.54146 0.897402 3.5549 0.837204 3.58096C0.777007 3.60702 0.722789 3.64515 0.677899 3.69298L0.147899 4.22298C0.101035 4.26946 0.0638379 4.32476 0.0384536 4.38569C0.0130692 4.44662 0 4.51197 0 4.57798C0 4.64398 0.0130692 4.70934 0.0384536 4.77027C0.0638379 4.83119 0.101035 4.8865 0.147899 4.93298L2.5279 7.30298Z" fill="rgb(47 179 109)"/></svg>')no-repeat center center; min-width: 12px; height: 12px; background-size: 12px !important; position: absolute; top: 5px; left: 0; }
.more-info-section .additional-block .check-list li a { color: #333333; text-decoration: underline; }
.more-info-section .additional-block .check-list li a:hover { text-decoration: none; color: #2fb36d; }

@media (max-width: 992px) {
    .page-title { margin-bottom: 20px; font-size: 56px; line-height: 1.15em; }
    .pr-inner-block { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }    
    .pr-header-block-cell { width: 25%; }
    .pr-header-block-cell.pr-cell-first { display: none; }
    .pr-header-block-cell.pr-cell-second { border-left-width: 0px; }
    .xxs-title { margin-top: 16px; margin-bottom: 8px; font-size: 18px; font-weight: 600; color: #2fb36d; }
    .pricing-note.hidden-md { display: none; }
    .pricing-text { min-height: 72px; }
    .md-title.md-title-pricing { font-size: 24px; }
    .package-head { font-size: 14px; line-height: 1.75em; }
    .pr-inner-center { padding-top: 22px; padding-bottom: 22px; }
    .pr-inner-header { min-height: 63px; font-size: 18px; }
    .pr-body-block-cell { width: 25%; }
    .pr-body-block-cell.pr-cell-first { width: 100%; min-height: auto; padding-top: 11px; padding-bottom: 11px; border-bottom: 1px solid #e4e6eb; }
    .pr-body-block-cell.pr-cell-second { border-left-width: 0px; }
    .pr-info-block-hover { left: auto; right: -16px; display: none; -webkit-transform: none; -ms-transform: none; transform: none; }
    .pr-info-block-arrow { left: 90%; }    
    .price-block-header { overflow: hidden; }

    .price-section-new .pr-header-block-cell { padding: 20px 10px;}
    .price-section-new .included-title { margin-left: -1px; margin-right: -1px; font-size: 20px; }
    .price-section-new .package-head h3 { margin-bottom: 15px; font-size: 20px; }
    .price-section-new .package-head .package-price span { font-size: 14px; }
    .price-section-new .package-head .package-price .text-blue { font-size: 12px; font-weight: 600; margin-bottom: 5px; }
    .price-section-new .package-head .package-price .info { font-size: 12px; margin-bottom: 8px; }
    .price-section-new .package-head .package-price .regular-price { font-weight: 700; font-size: 18px; margin-bottom: 0; }
    .price-section-new .package-head .pricing-text { margin: 0 auto 20px; font-size: 12px; }
    .price-section-new .package-head .pricing-text.mb-15 { margin: 0 auto 10px; }
    .price-section-new .price-block-body .pr-inner-block .pr-body-block-cell { padding: 5px 10px; }
    .price-section-new .price-block-body .pr-inner-block .pr-body-block-cell.info-title { justify-content: center; padding: 20px 10px 5px; }
    .price-section-new .price-block-body .pr-inner-block .pr-body-block-cell .title { font-size: 14px; margin-bottom: 15px; }
    .price-section-new .check-list { margin: 0 0 15px; }
    .price-section-new .check-list li { padding: 0 0 10px 16px; font-size: 14px;  }
    .price-section-new .check-list li::before { min-width: 10px; height: 10px; background-size: 10px !important; position: absolute; top: 5px; left: 0; }
    
    .more-info-section { background: #f6f6f6; padding: 50px 15px; }
    .more-info-section .multi-event-block h2 { font-size: 32px; }
    .more-info-section .additional-block h3 { font-size: 20px; color: #0b2958; }
} 
@media screen and (max-width: 767px) {  
    .page-title { margin-bottom: 8px; font-size: 32px; line-height: 1.25em; }
    .price-intro-content p { font-size: 16px; line-height: 1.5; }
    .o-padded-width { padding: 0 15px; }
    .c-hero-cta-button { max-width: 100%; }
    .page-into-section.price-intro-section { padding-top: 81px; padding-bottom: 200px; }
    .price-section { padding-bottom: 59px; }
    .price-block { margin-top: -193px; border-width: 0px; }
    .price-block-body { display: none; }
    .package-head { width: 100%; }
    .pr-header-block-cell { position: relative; overflow: hidden; width: 100%; margin-bottom: 24px; padding: 24px 16px 24px; border: 1px solid #e4e6eb; border-radius: 8px; box-shadow: 6px 6px 8px 0 rgb(44 50 66 / 1%); }
    .pr-header-block-cell.pr-cell-second { border-left-width: 1px; border-radius: 8px; }   
    .md-title.md-title-pricing { font-size: 24px; } 
    .pr-inner-block.pr-inner-block-header { border-bottom-width: 0px; }
    .pr-inner-header { font-size: 16px; }
    .pr-inner-header-text { margin-top: 2px; line-height: 1.75; }
    .pr-body-block-cell { min-height: 47px; }
    .pr-body-block-cell.pr-cell-first { padding-top: 12px; padding-bottom: 12px; font-size: 14px; line-height: 1.7; }
    .price-block-footer { display: none; }
    .package-key-features { display: block; }
    .pricing-text { min-height: 0px; }    
    /* .price-span { height: 34px; } */
    .xxs-title { font-size: 16px; }
    .custom-list, ul:not([class]) { list-style: none; margin-bottom: 20px; padding-left: 0; }
    .custom-list li, ul:not([class]) li { padding-left: 27px; margin-bottom: 16px; position: relative; background: transparent !important;}
    .custom-list li:before, ul:not([class]) li:before { content: ''; position: absolute; left: 6px; top: 3px; width: 14px; height: 14px; background-image: url(../image/check.svg); background-position: 0 0; background-repeat: no-repeat; background-size: contain; }    
    .mobile-plan-detail { display: block; } 
    .mobile-plan-detail .btn_hide { display: none; }
    .mobile-plan-detail.active .btn_hide { display: inline-block!important; }
    .mobile-plan-detail.active .btn_show { display: none; }  
    .mobile-plan-title { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-top: 13px; padding-bottom: 13px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-top: 1px solid #e4e6eb; border-bottom: 1px solid #e4e6eb; background-color: #f7f8fa; font-size: 16px; font-weight: 600; text-align: center; }
    .mobile-plan-title-cell { width: 25%; -webkit-box-flex: 1; -webkit-flex: auto; -ms-flex: auto; flex: auto; border-left: 1px solid #e4e6eb; }
    .mobile-plan-title-cell.mobile-plan-title-cell-first { border-left-width: 0px; }
    .btn_link { font-size: 16px; line-height: 1.1; text-decoration: underline; cursor: pointer; }

    .price-section-new .price-block { background: transparent; }
    .price-section-new .price-block-header { border-radius: 0 !important; background: transparent; }
    .price-section-new .pr-header-block-cell { border: 2px solid #c3c3c3 !important; border-radius: 0; background: #ffffff; }
    .price-section-new .included-title { display: none; }
    .price-section-new .package-head .pricing-text { max-width: 100%; }
    .price-section-new .pr-header-block-cell { padding: 20px 15px; }
    .price-section-new .package-head { text-align: left; }
    .price-section-new .package-head .include-list { display: block; }
    .price-section-new .package-head .include-list .title { font-size: 16px; margin-bottom: 10px; font-weight: 600; color: #0b2958; }
    .price-section-new .package-head .c-hero-cta-button { margin: 0 0 0 auto; }
    .price-section-new .package-head .pricing-text { font-size: 14px; }
    .price-section-new .package-head .pricing-text.mb-15 { margin: 0 auto 15px; }
    .more-info-section { background: #f6f6f6; padding: 50px 15px; }
    .more-info-section .multi-event-block h2 { font-size: 26px; margin-bottom: 20px; }
    .more-info-section .multi-event-block .table-block table { width: 100%; }
    .more-info-section .multi-event-block .table-block table tr td { font-size: 14px; }
    .more-info-section .multi-event-block .table-block table tr td:first-child { font-size: 13px; }
    .more-info-section .multi-event-block .table-block .note { font-size: 13px; }
    .more-info-section .additional-block { padding-top: 20px; }
    .more-info-section .additional-block h3 { font-size: 18px; }
    .more-info-section .additional-block .check-list li { padding: 0 0 10px 16px; font-size: 14px; }
    .more-info-section .additional-block .check-list li::before { min-width: 10px; height: 10px; background-size: 10px !important; }
}
@media screen and (max-width: 479px) {
    .price-block-body { margin-right: -15px; margin-left: -15px; }
}



.page-into-section-white {background: #fff !important; color: #0b2958 !important;}
body .page-into-section-white .price-intro-content * { text-align: center; color: #0b2958;}
.pricing-box-block { margin-top: -220px; }
.grid-block { display: grid; grid-template-columns: repeat(3, 33.33%); margin: 0 80px; }
.pricing-content { padding: 0 15px; }
.pricing-box { display: inline-block; width: 100%; border: 2px solid #2cd1cc; background: #ffffff; box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); text-align: center; padding: 30px 20px 100px; border-radius: 10px; height: 100%; position: relative; }
.pricing-box.green-box { border-color: #2fb36d; }
.pricing-box.blue-box { border-color: #0b2958; }
.pricing-box .title { font-size: 25px; font-weight: 800; color: #0b2958; margin-bottom: 30px; }
.pricing-box .title span { color: #2fb36d; }
.pricing-box p { font-size: 16px; margin: 15px auto; max-width: 280px; line-height: 1.5; min-height: 72px; }
.pricing-box .price { font-size: 20px; font-weight: 600; color: #0b2958; padding: 20px 0; min-height: 60px; }
.pricing-box .action { padding: 20px 0 0; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); width: calc(100% - 60px); }
.pricing-box .action .c-hero-cta-button { max-width: 100%; padding: 15px 25px; white-space: nowrap; min-width: 100%; }

.table-content-block { padding: 80px 0; }
.table-content-block h2 { font-size: 32px; color: #0b2958; margin-bottom: 40px; }
.table-content-block .table-block .table-header {display: grid; grid-template-columns: auto 250px 250px 250px; align-items: center; }
.table-content-block .table-block .table-header .desc { text-align: left; font-size: 22px; font-weight: 600; padding: 15px; color: #0b2958; }
.table-content-block .table-block .table-header .desc.padding-top { padding-top: 30px; }
.table-content-block .table-block .table-header .type { text-align: center; font-size: 16px; font-weight: 600; margin: 0 0 0 30px; padding: 15px 15px; color: #0b2958; height: 100%; }
.table-content-block .table-block .table-header.padding-top .desc { padding-top: 40px; padding-bottom: 20px; }
.table-content-block .table-block .table-header.padding-top .type { padding: 46px 15px 20px; }
.table-content-block .table-block .table-header .type.top-border { border-top: 5px solid #2cd1cc; border-radius: 10px 10px 0 0; padding-top: 30px; }
.table-content-block .table-block .table-header .type.lite { background: #fafafa; }
.table-content-block .table-block .table-header .type.pro { background: #fafafa; border-color: #0b2958; }
.table-content-block .table-block .table-header .type.enterprise { background: #e0f3ee; border-color: #2fb36d; }

.table-content-block .table-block .table-row {display: grid; grid-template-columns: auto 250px 250px 250px; align-items: center; }
.table-content-block .table-block .table-row .desc { text-align: left; font-size: 16px; padding: 8px 15px; line-height: 1.5; transition: all 0.3s ease-in-out; }
.table-content-block .table-block .table-row .desc a {font-size: 80%;}
.table-content-block .table-block .table-row .type { text-align: center; font-size: 16px; margin: 0 0 0 30px; padding: 8px 15px; height: 100%; display:flex; align-items: center; justify-content: center; transition: all 0.3s ease-in-out; }
.table-content-block .table-block .table-row .type.border-radius { border-radius: 0 0 10px 10px; }
.table-content-block .table-block .table-row .type.lite { background: #fafafa; }
.table-content-block .table-block .table-row .type.pro { background: #fafafa; }
.table-content-block .table-block .table-row .type.enterprise { background: #e0f3ee;  }
.table-content-block .table-block .table-row .icon-minus { display: inline-block; width: 17px; height: 4px; border-radius: 1px; background-color: #8f94a2; margin: 6px 0; }
.table-content-block .table-block .table-row .icon-check { display: inline-block; background: url(../image/check.svg) no-repeat center center; background-size: 16px; width: 20px; height: 16px; }
.table-content-block .table-block .table-row .icon-close { display: inline-block; background: url(../image/close.svg) no-repeat center center; background-size: 14px; width: 18px; height: 16px; }

.table-content-block .table-block .table-footer { display: grid; grid-template-columns: auto 250px 250px 250px; align-items: center; }
.table-content-block .table-block .table-footer .type { text-align: center; margin: 0 0 0 30px; padding: 20px 0px }
.table-content-block .table-block .table-footer .type .c-hero-cta-button { display: block; max-width: 100%; padding: 15px 15px; }

.table-content-block .table-block .table-row:hover {  }
.table-content-block .table-block .table-row:hover .desc { background: #bde8dd; }
.table-content-block .table-block .table-row:hover .type { background: #bde8dd; }
.table-content-block .table-block .table-row:hover .enterprise { background: #bde8dd; }

@media (max-width: 1200px) {  
    .grid-block { margin: 0 40px; }
    .pricing-box { padding: 30px 20px 90px; }
    .pricing-box .title { font-size: 24px;margin-bottom: 20px; min-height: 48px; }
    .pricing-box p { font-size: 14px; margin: 15px auto; min-height: 63px; }
    .pricing-box .price { font-size: 18px; padding: 20px 0; min-height: 58px; }
    .pricing-box .action { padding: 20px 0 0; width: calc(100% - 40px); }
    .pricing-box .action .c-hero-cta-button { font-size: 14px; padding: 15px; }

    .table-content-block h2 { font-size: 26px; }
    .table-content-block .table-block .table-header { grid-template-columns: auto 180px 180px 180px; }
    .table-content-block .table-block .table-header .desc { font-size: 18px; padding: 15px 10px 15px 0; }
    .table-content-block .table-block .table-header .type { font-size: 14px; margin: 0 8px; padding: 15px 10px; }
    .table-content-block .table-block .table-header.padding-top .type { padding: 46px 10px 20px; }

    .table-content-block .table-block .table-row { grid-template-columns: auto 180px 180px 180px; }
    .table-content-block .table-block .table-row .desc { font-size: 14px; padding: 12px 10px 12px 0; }
    .table-content-block .table-block .table-row .type { font-size: 14px; margin: 0 8px; padding: 12px 10px; }
    .table-content-block .table-block .table-row .icon-minus { width: 14px; height: 3px; }
    .table-content-block .table-block .table-row .icon-check { display: inline-block; background: url(../image/check.svg) no-repeat center center; background-size: 14px; width: 20px; height: 14px; }

    .table-content-block .table-block .table-footer { display: grid; grid-template-columns: auto 180px 180px 180px; align-items: center; }
    .table-content-block .table-block .table-footer .type { text-align: center; margin: 0 8px; padding: 20px 0px }
    .table-content-block .table-block .table-footer .type .c-hero-cta-button { font-size: 14px; }
}
@media (max-width: 992px) {  
    .grid-block { margin: 0 -10px; }
    .pricing-content { padding: 0 10px; }
    .pricing-box { padding: 20px 10px 70px; }
    .pricing-box .price {  padding: 10px 0; min-height: 38px; }
    .pricing-box .action { bottom: 20px; width: calc(100% - 25px); }
    .pricing-box .action .c-hero-cta-button { padding: 15px 10px; }

    .table-content-block h2 { font-size: 24px; }
    .table-content-block .table-block .table-header { grid-template-columns: auto 130px 130px 130px; }
    .table-content-block .table-block .table-header .desc { font-size: 18px; padding: 10px 10px 10px 0; }
    .table-content-block .table-block .table-header .type { font-size: 14px; margin: 0 5px; padding: 10px 10px; }
    .table-content-block .table-block .table-header.padding-top .type { padding: 30px 10px 10px; }
    .table-content-block .table-block .table-header.padding-top .desc { padding-top: 30px; padding-bottom: 10px; }

    .table-content-block .table-block .table-row { grid-template-columns: auto 130px 130px 130px; }
    .table-content-block .table-block .table-row .desc { font-size: 14px; padding: 10px 10px 10px 0; }
    .table-content-block .table-block .table-row .type { font-size: 14px; margin: 0 5px; padding: 10px 10px; }
    .table-content-block .table-block .table-row .icon-minus { margin: 3px 0;  }   

    .table-content-block .table-block .table-footer { grid-template-columns: auto 130px 130px 130px; }
    .table-content-block .table-block .table-footer .type { text-align: center; margin: 0 5px; padding: 10px 0px }
    .table-content-block .table-block .table-footer .type .c-hero-cta-button { font-size: 14px; }
}
@media (max-width: 767px) {
    .pricing-box-block { margin-top: -155px; }
    .grid-block { grid-template-columns: repeat(1, 100%); margin: 0; }
    .pricing-content { padding: 15px 0; text-align: center; }
    .pricing-box { padding: 30px 20px 35px; max-width: 420px; margin: 0 auto; }
    .pricing-box .title { font-size: 28px; min-height: auto; }
    .pricing-box p { font-size: 16px; min-height: auto; }
    .pricing-box .price { padding: 10px 0; min-height: auto; font-size: 20px; }
    .pricing-box .action { position: relative; bottom: unset; transform: unset; left: unset; }
    .pricing-box .action .c-hero-cta-button { padding: 15px 15px; font-size: 16px; }

    .table-block { overflow: hidden; overflow-x: auto; }
    .table-content-block .table-block .table-header { grid-template-columns: 300px 120px 120px 120px; }
    .table-content-block .table-block .table-row { grid-template-columns: 300px 120px 120px 120px; }
    .table-content-block .table-block .table-footer { grid-template-columns: 300px 120px 120px 120px; }
}
@media (max-width: 575px) {      
    .pricing-table-block { display: none; }
}