@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');
body { min-height: 100vh; margin: 0; font-size: 20px; font-family: 'Assistant', sans-serif; }
img { max-width: 100%; height: auto; }

.icon-box { text-align: center; padding: 15px 20px; }
.icon-box .icon { padding-bottom: 25px; }
.icon-box .icon img { max-height: 45px; }
.icon-box .info h3 { font-weight: 800; font-size: 20px; color: #0e1036; margin: 0; }
.icon-box .info .desc { font-weight: 300; color: #0e1036; }

.content h1 { font-size: 24px; color: #0e1036; font-weight: normal; text-align: justify; }
.content h1 strong { font-weight: bold; color: #f69153; text-transform: uppercase; }
.content h3 { display: inline-block; font-size: 20px; font-weight: 800; color: #f69153; margin: 0; text-transform: uppercase; }
.content .info { color: #0e1036; font-weight: 300; margin-top: 0; text-align: justify; }
.content .info strong { font-weight: 800; }

.main-header { position: fixed; top: 0; width: 100%; -webkit-transition: top 0.3s ease-in-out; -moz-transition: top 0.3s ease-in-out; -o-transition: top 0.3s ease-in-out; transition: top 0.3s ease-in-out; z-index: 100; }
.main-header.nav-up { top: -62px; }
.main-header .navbar { background: #0e1036; padding: 7px 0px; }
.main-header .navbar .navbar-brand { padding: 0; }
.main-header .navbar .navbar-brand img { max-width: 56px; }
.main-header .navbar .menu a { font-size: 24px; font-weight: bold; color: #f69153; text-decoration: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.main-header .navbar .menu a:hover { color: #ffffff; }

.banner-section { position: relative; max-height: 100vh; min-height: 100vh; overflow: hidden; background: url(../images/aiola-pose-horizontal.png) no-repeat 90% calc(100% + 13px); }
.banner-section .video-block { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; z-index: -1; }
.banner-section .video-block video { width: 100%; object-fit: cover; height: 100%; }
.banner-section .content-block { height: calc(100vh - 61px); margin-top: 61px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }
.banner-section .content-block .content { max-width: 500px; margin: 0 auto; }

.super-power-section { padding: 50px 0; }
.super-power-section .row { margin: 0 -25px;}
.super-power-section .row > .col-12 { padding: 0 25px; }
.super-power-section .border-title { position: relative; padding: 20px 0; margin-bottom: 80px; }
.super-power-section .border-title h2 { margin: 0 auto; color: #0e1036; font-size: 20px; font-weight: bold; letter-spacing: 1px; text-align: center; max-width: 590px; text-transform: uppercase; }
.super-power-section .border-title::before, .super-power-section .border-title::after { content: ''; position: absolute; left: 50%; transform: translateX(-50%); width: 320px; height: 2px; background: #f69153; }
.super-power-section .border-title::before { top: 0; }
.super-power-section .border-title::after { bottom: 0; }

.bg-animation-section { position: relative; padding: 80px 0 115px; background: linear-gradient(-45deg, #0e1036, #6c6e92); background-size: 400% 400%; animation: gradient 15s ease infinite; }
.bg-animation-section h2 { text-transform: uppercase; font-size: 30px; font-weight: 800; text-align: center; color: #ffffff; max-width: 550px; margin: 0 auto; }
.bg-animation-section .action { position: absolute; bottom: -35px; left: 50%; transform: translateX(-50%); }
.bg-animation-section .btn { text-transform: uppercase; height: 70px; border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px;  background: #0e1036; font-size: 30px; font-weight: 800; padding: 0 70px; text-align: center; color: #f69153; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.bg-animation-section .btn:hover { background: #6c6e92; }
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@-webkit-keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.how-to-work-section { padding: 120px 0 70px; }
.how-to-work-section .row { margin: 0 -25px;}
.how-to-work-section .row > .col-12 { padding: 0 25px; }

.asset-section { background: #f69153 url(../images/loop.png) no-repeat center center; background-size: 45%; padding: 50px 0; position: relative; }
.asset-section::after { content: ''; position: absolute; background: url(../images/aiola-pose-vertical.png) no-repeat top right; height: 230px; width: 110px; top: 100px; right: 0; }
.asset-section h2 { color: #ffffff; font-size: 20px; font-weight: 800; text-align: center; margin-bottom: 80px; }
    
.trifecta-section { padding: 80px 0; }
.trifecta-section .row { margin: 0 -25px;}
.trifecta-section .row > .col-12 { padding: 0 25px; }
.trifecta-section .content h3 { margin: 0 0 20px; }

.sales-professional-section { padding: 50px 0; text-align: center; background: url(../images/sales-professional-bg.jpg) no-repeat top left; background-size: 164% 110%; position: relative; }
.sales-professional-section::after { content: ''; position: absolute; background: url(../images/aiola-pose-horizontal-orange.png) no-repeat top right; height: 200px; width: 320px; bottom: -10px; right: 9%; background-size: contain; } 
.sales-professional-section h3 { display: inline-block; font-size: 20px; font-weight: 800; color: #f69153; margin: 0 0 90px; text-transform: uppercase; letter-spacing: 1px; }
.sales-professional-section .row { counter-reset: section }
.sales-professional-section .row .col-12 .icon::after { padding: 5px; color: #f69153; content: counter(section); counter-increment: section; font-weight: 800; font-size: 20px; display: block; line-height: 1; padding-top: 10px; } 
.sales-professional-section .icon-box { max-width: 300px; margin: 0 auto; padding: 10px 0; }
.sales-professional-section .icon-box .icon { padding-bottom: 5px; }

.main-footer { background: #0e1036; padding: 35px 0; }
.main-footer .content h2 { font-size: 24px; font-weight: bold; text-align: center; color: #ffffff; }
.main-footer .content h2 span { color: #f69153; }
.main-footer .content .info { color: #ffffff; text-align: center; }
.main-footer .logo { text-align: center; padding-top: 120px; }
.main-footer .logo .logo-link img { max-width: 56px; }

@media (max-width: 1200px) {
    .banner-section { max-height: 80vh; min-height: 80vh; }
    .banner-section .content-block { height: calc(80vh - 61px); }
}
@media (max-width: 992px) {
    .banner-section { max-height: 550px; min-height: 550px; }
    .banner-section .content-block { height: calc(550px - 61px); }
}
@media (max-width: 767px) {
    .main-header .navbar .container { -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }
    .main-header .navbar .navbar-brand { margin: 0; }
    .main-header .navbar .menu { display: none; }
    .banner-section { max-height: 450px; min-height: 450px; background-size: 190px; }
    .banner-section .content-block { height: calc(450px - 61px); }
    .banner-section .content-block .content h1, .main-footer .content h2 { font-size: 30px; }
    .super-power-section .border-title h2 { font-size: 30px; }
    body, .content h3, .asset-section h2, .icon-box .info h3, .sales-professional-section h3, .sales-professional-section .row .col-12 .icon::after { font-size: 24px; }
    .sales-professional-section .icon-box { max-width: 100%; }
    .bg-animation-section h2, .bg-animation-section .btn { font-size: 26px; }
    .trifecta-section .row, .how-to-work-section .row, .super-power-section .row { margin: 0 -15px;}
    .trifecta-section .row > .col-12, .how-to-work-section .row > .col-12, .super-power-section .row > .col-12 { padding: 0 15px; }
    .super-power-section .border-title { margin-bottom: 50px; }
    .bg-animation-section { padding: 50px 0 85px; }
    .how-to-work-section { padding: 90px 0 40px; }
    .asset-section h2 { margin-bottom: 40px; }
    .asset-section::after { height: 180px; width: 80px; top: 60px; background-size: contain; }
    .trifecta-section { padding: 50px 0; }
    .sales-professional-section { background-size: cover; padding: 50px 0 120px; }
    .sales-professional-section::after { height: 145px; width: 220px; right: 3%; }
    .sales-professional-section h3 { margin: 0 0 40px; }
    .main-footer .logo { padding-top: 80px; }
}
@media (max-width: 575px) { 
    .banner-section { max-height: 400px; min-height: 400px; background-size: 150px; }
    .banner-section .content-block { height: calc(400px - 61px); }
    .banner-section .content-block .content h1, .main-footer .content h2 { font-size: 24px; margin: 0 20px; }
    .super-power-section .border-title h2 { font-size: 24px; }
    body, .content h3, .asset-section h2, .icon-box .info h3, .sales-professional-section h3, .sales-professional-section .row .col-12 .icon::after { font-size: 20px; }
    .icon-box { padding: 10px 8px; } 
    .bg-animation-section h2 { font-size: 20px; }
    .bg-animation-section .action { bottom: -25px; }
    .bg-animation-section .btn { padding: 0 30px; height: 50px; font-size: 18px; }
    .super-power-section { padding: 40px 0 20px; }
    .super-power-section .border-title { margin-bottom: 30px; }
    .bg-animation-section { padding: 40px 0 65px; }
    .how-to-work-section { padding: 70px 0 20px; }
    .asset-section h2 { margin-bottom: 30px; }
    .asset-section::after { height: 150px; width: 70px; top: 40px; }
    .trifecta-section { padding: 40px 0; }
    .asset-section { padding: 40px 0 20px; }
    .sales-professional-section::after { height: 100px; width: 150px; right: 3%; }
    .sales-professional-section h3 { margin: 0 0 30px; }
    .main-footer .logo { padding-top: 60px; }
}